

/****************************************************************/
/* 1. BACKGROUND AND TEXT COLOURS */
/****************************************************************/

/* 1.1 Default background colour and text colour */

BODY {BACKGROUND-COLOR: #FFF}

.pun {COLOR: #333}

DIV.box, .pun BLOCKQUOTE, DIV.codebox, #adminconsole FIELDSET TH, .rowodd, .roweven {BACKGROUND-COLOR: #E2E2E2}
#adminconsole TD, #adminconsole TH {BORDER-COLOR: #F1F1F1}

/* 1. 2 Darker background colours */

TD.tc2, TD.tc3, TD.tcmod, #postpreview, #viewprofile DD, DIV.forminfo,
#adminconsole FIELDSET TD, DIV.blockmenu DIV.box, #adstats DD {BACKGROUND-COLOR: #E2E2E2}

/* 1.3 Main headers and navigation bar background and text colour */

.pun H2, #brdmenu {BACKGROUND-COLOR: #FFBA4F; COLOR: #FFF}

/* 1.4 Table header rows */

.pun TH {BACKGROUND-COLOR: #fff}

/* 1.5 Fieldset legend text colour */

.pun LEGEND {COLOR: #FF8000}

/* 1.6 Highlighted text for various items */

.pun DIV.blockmenu LI.isactive A, #posterror LI STRONG {COLOR: #333}

/****************************************************************/
/* 2. POST BACKGROUNDS AND TEXT */
/****************************************************************/

/* 2.1 This is the setup for posts. */

DIV.blockpost DIV.box, DIV.postright, DIV.postfootright, TD.tcl, TD.tcr {BACKGROUND-COLOR: #F1F1F1}
DIV.postright, DIV.postfootright {BORDER-LEFT-COLOR: #E2E2E2}
DIV.postleft, DIV.postfootleft, DIV.blockpost LABEL {BACKGROUND-COLOR: #E2E2E2}


/* 2.2 Background for post headers and text colour for post numbers in viewtopic */

DIV.blockpost H2 {BACKGROUND-COLOR: #FFBA4F}
DIV.blockpost H2 SPAN.conr {COLOR: #fff}

/* 2.3 This is the line above the signature in posts. Colour and background should be the same */

.pun HR {BACKGROUND-COLOR: #333; COLOR: #333}

/****************************************************************/
/* 3. BORDER COLOURS */
/****************************************************************/

/* 3.1 All external borders */

DIV.box {BORDER-COLOR: #FFF}

/* 3.2 Makes the top border of posts match the colour used for post headers */

DIV.blockpost DIV.box {BORDER-COLOR: #FFBA4F #F1F1F1 #FFFFFF #E2E2E2; border-bottom: 0;}
DIV.blockform DIV.box {BORDER-COLOR: #FFBA4F #F1F1F1 #F1F1F1 #F1F1F1; BACKGROUND-COLOR: #F1F1F1}


/* 3.3 Table internal borders. By default TH is same as background so border is invisible */

.pun TD {BORDER-COLOR: #FFF}
.pun TH {BORDER-COLOR: #FFF}

/* 3.4 Creates the inset border for quote boxes, code boxes and form info boxes */

.pun BLOCKQUOTE, DIV.codebox, DIV.forminfo, DIV.blockpost LABEL {BORDER-COLOR: #4cb273 #FFF #FFF #4cb273}

/* 3.5 Gecko's default fieldset borders are really nasty so this gives them a colour
without interferring with IE's rather nice default */

.pun DIV>FIELDSET {BORDER-COLOR: #FF9933}

/****************************************************************/
/* 4. LINK COLOURS */
/****************************************************************/

/* 4.1 This is the default for all links */

.inbox a, .inbox  a:visited
{
  color: #3f935f;
}

.inbox  a:hover, .postright a:visited, .blocktable a:visited
{
  color: #1e462d;
}

.postfootright a
{
  color: #aaa;
}

.postquote a
{
  color: #3f935f;
}

/* 4.2 This is the colour for links in header rows and the navigation bar */

/*.pun H2 A:link, .pun H2 A:visited, #brdmenu A:link, #brdmenu A:visited {COLOR: #FFF}
.pun H2 A:hover, #brdmenu A:hover {COLOR: #FFF}*/

/* 4.3 This is for closed topics and "hot" links */

LI.reportlink A:link, LI.reportlink A:visited, LI.pmlink A:link, LI.pmlink A:visited, LI.maintenancelink A:link, LI.maintenancelink A:visited {COLOR: #FF5028}

/*LI.postreport A:link, LI.postreport A:visited, TR.iclosed TD.tcl A:link, TR.iclosed TD.tcl A:visited {COLOR: #888}
LI.postreport A:hover, TR.iclosed TD.tcl A:hover {COLOR: #AAA}
LI.maintenancelink A:link, LI.maintenancelink A:visited {COLOR: #B42000}
LI.maintenancelink A:hover {COLOR: #B42000}*/

/****************************************************************/
/* 5. POST STATUS INDICATORS */
/****************************************************************/

/* These are the post status indicators which appear at the left of some tables.
.inew = new posts, .iredirect = redirect forums, .iclosed = closed topics and
.isticky = sticky topics. The default is "icon". By default only .inew is different.*/

DIV.icon {BORDER-COLOR: #E6E6E6 #DEDEDE #DADADA #E2E2E2}
TR.iredirect DIV.icon {BORDER-COLOR: #F1F1F1 #F1F1F1 #F1F1F1 #F1F1F1}
DIV.inew {BORDER-COLOR: #F09030 #CF7C29 #B46C24 #FFBA4F}
