[submodule "lib/vendor/symfony"]
	path = lib/vendor/symfony
	url = https://github.com/c2corg/symfony-1.0.11.git
[submodule "web/static/js/carto/cgxp"]
	path = web/static/js/carto/cgxp
	url = https://github.com/camptocamp/cgxp.git
[submodule "lib/geoPHP"]
	path = lib/geoPHP
	url = https://github.com/phayes/geoPHP.git
[submodule "web/static/js/third-parties/d3"]
	path = web/static/js/third-parties/d3
	url = https://github.com/mbostock/d3.git
[submodule "web/static/js/third-parties/html5shiv"]
	path = web/static/js/third-parties/html5shiv
	url = https://github.com/aFarkas/html5shiv.git
[submodule "plugins/sfMyMinifyPlugin/minify"]
	path = plugins/sfMyMinifyPlugin/minify
  url = https://github.com/mrclay/minify.git
[submodule "web/static/js/third-parties/Swipe"]
	path = web/static/js/third-parties/Swipe
	url = https://github.com/bradbirdsall/Swipe.git
[submodule "web/static/js/third-parties/html5sortable"]
	path = web/static/js/third-parties/html5sortable
	url = https://github.com/farhadi/html5sortable.git
[submodule "web/static/js/third-parties/jquery_jeditable"]
	path = web/static/js/third-parties/jquery_jeditable
	url = https://github.com/tuupola/jquery_jeditable.git
[submodule "web/static/js/third-parties/tinycon"]
	path = web/static/js/third-parties/tinycon
	url = https://github.com/tommoor/tinycon.git
[submodule "web/static/js/third-parties/mailcheck"]
	path = web/static/js/third-parties/mailcheck
	url = https://github.com/Kicksend/mailcheck.git
[submodule "lib/password_compat"]
	path = lib/password_compat
	url = https://github.com/ircmaxell/password_compat.git
[submodule "web/static/js/third-parties/jQuery-ajaxTransport-XDomainRequest"]
	path = web/static/js/third-parties/jQuery-ajaxTransport-XDomainRequest
	url = https://github.com/MoonScript/jQuery-ajaxTransport-XDomainRequest.git
[submodule "web/static/js/third-parties/slip"]
	path = web/static/js/third-parties/slip
	url = https://github.com/pornel/slip.git
[submodule "web/static/js/third-parties/mixitup"]
	path = web/static/js/third-parties/mixitup
	url = https://github.com/patrickkunka/mixitup.git
