apps/frontend/config/app.yml
apps/frontend/i18n/messages.*.mo
batch/buildC2cShapefiles.sh
batch/latest_docs_rss.sh
batch/removeOldTempImages.sh
cache/
config/apache.conf
config/camptocamp.org.conf
config/config.php
config/databases.yml
config/properties.ini
data/sql/create_db.bat
data/sql/create_db.sh
data/sql/grant.sql
data/sql/load_mod_tables.bat
data/sql/load_mod_tables.sh
data/sql/load_test_data.bat
data/sql/load_test_data.sh
data/sql/tables/punbb.sql
deployment/*.ini
log/
mapdata/c2corg-wms.map
mapdata/c2corg-wms2.map
mapdata/osm-wms.map
web/forums/cache/
web/forums/config.php
web/forums/img/avatars/
web/index.php
web/static/sass/.sass-cache/
web/static/css/*.css
web/static/js/carto/build/carto.min.js
web/static/js/carto/build/lang-*.js
web/static/js/carto/script/c2corg/config/config.js
web/static/opensearch/description.xml
web/static/rss/latest_docs.rss
web/stats/settings.php
web/uploads
