[submodule "lib/vendor/symfony"]
	path = lib/vendor/symfony
	url = http://github.com/c2corg/symfony-1.0.11.git
[submodule "web/static/js/carto/cgxp"]
	path = web/static/js/carto/cgxp
	url = http://github.com/camptocamp/cgxp.git
[submodule "lib/geoPHP"]
	path = lib/geoPHP
	url = http://github.com/phayes/geoPHP.git
[submodule "web/static/js/third-parties/d3"]
	path = web/static/js/third-parties/d3
	url = http://github.com/mbostock/d3.git
[submodule "web/static/js/third-parties/html5shiv"]
	path = web/static/js/third-parties/html5shiv
	url = http://github.com/aFarkas/html5shiv.git
[submodule "plugins/sfMyMinifyPlugin/minify"]
	path = plugins/sfMyMinifyPlugin/minify
	url = http://github.com/mrclay/minify.git
[submodule "web/static/js/third-parties/Swipe"]
	path = web/static/js/third-parties/Swipe
	url = http://github.com/bradbirdsall/Swipe.git
