[submodule "lib/vendor/symfony"]
	path = lib/vendor/symfony
	url = http://github.com/c2corg/symfony-1.0.11.git
[submodule "web/static/js/carto/cgxp"]
	path = web/static/js/carto/cgxp
	url = http://github.com/camptocamp/cgxp.git
[submodule "lib/geoPHP"]
	path = lib/geoPHP
	url = http://github.com/phayes/geoPHP.git
[submodule "plugins/sfMyMinifyPlugin/minify"]
	path = plugins/sfMyMinifyPlugin/minify
	url = http://github.com/mrclay/minify.git
