/* misc. */
a.gwidget-refresh {
	float: right;
	margin-top: -5px;
	border: none;
}

.gwidget-refresh img { border:none;}

.gwidget-waiting {
	margin: 5px;
	padding: 10px;
	/*padding-left: 25px;
	background-image: url(../images/loading.gif);
	background-position: 4px 50%;
	background-repeat: no-repeat;*/
	border: 1px solid #c93;
	background-color: #ffc;
}

.gwidget-error {
	border: 1px solid #f00;
	background-color: #FF9191;
	color: #fff;
	padding: 10px;
	margin: 5px;
}
/*---------------------------
gExpander
---------------------------*/
.gexpander {
	padding: 2px;
}
.gexpander-img {
	border: none;
}

/*--------------------------
Tooltips
---------------------------*/
.gtip {
	/*cursor: help;*/
}
div.gtip-container { 
	border: 1px solid #c93; /*555;*/
	background-color: #FDFDE7; /*fff;*/
	padding: 0px;
	margin: 0px;
	position: absolute;
	z-index: 100;
}
div.gtip-container span.gtip-arrow {
  position: absolute;
  top: 5px;
  width: 10px;
  height: 19px;
}
.gtip-arrow-left {
	background: url(../images/gtip-arrow-left.png) left top no-repeat;
}
.gtip-arrow-right {
	background: url(../images/gtip-arrow-right.png) right top no-repeat;
}

div.gtip-container div.gtip-title {
	background-color: #ffc; /*ddd;*/
	padding: 4px;
	margin: 0px;
	font-size: 0.9em;
	text-align: left;
	height: 16px;
}

div.gtip-container div.gtip-content { 
	padding: 5px;
	margin: 0px;
	font-size: 1em;
}
/*---------------------------
gTab
---------------------------*/
div.gtab ul.gtab-controllers, div.gtab ul.gtab-controllers li {
	list-style:none;
	margin: 0px;
	padding: 0px;	
}

div.gtab ul.gtab-controllers li  {
	text-align: center;
	float: left;
}

div.gtab ul.gtab-controllers li a {
	float:left;
	width: 6em;
	padding: 5px 0;
	margin-right: 2px;

	background: #E7F1F8;
	text-decoration:none;
	color: #666;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-radius-topleft: 4px;
	border-radius-topright: 4px;
}
div.gtab ul.gtab-controllers li a:hover, div.gtab ul.gtab-controllers li a.gtab-active:hover {
	background: #FFA826;
	color: #FFF
}
div.gtab ul.gtab-controllers li a.gtab-active {
	font-weight: bold;
	color: #003; 
	background: #BBD9EE;
}

div.gtab div.gtab-body, div.gtab div.gtab-hide {
	display: none;
}

div.gtab div.gtab-active {
	clear: both;
	border: 1px groove #ccc;
	padding: 4px;
	display: none;
	background: #fff;
	display: block;
}


div.gtab > ul.gtab-controllers li a.gtab-loading,div.widget-tab > ul.gtab-controllers li a.gtab-loading:hover  {
	padding-left: 5px;
	background-image: url(../images/loading.gif);
	background-position: 4px 50%;
	background-repeat: no-repeat;
}

/*---------------------------
gWindow
---------------------------*/
#gbox_overlay {
  position: absolute;
  z-index:100;
  top: 0px;
  left: 0px;
  background-color:#4c4c4c;
  filter:alpha(opacity=60);
  -moz-opacity: 0.6;
  opacity: 0.6;
}

#gbox_frame {

}

#gbox_window {
	position: absolute;
	z-index: 102;
	border: 3px solid #555;
	text-align: left;
	background-color: #fff;
	padding: 0px;
	margin: 0px;
}
#gbox_window_content {
	padding: 10px;
	margin: 0px;
}

#gbox_window_title {
	background-color: #ddd;
	padding: 4px;
	margin: 0px;
	font-size: 1em;
	text-align: left;
	height: 16px;
}
#gbox_close {
	float: right;
	font-size: 0.9em;
	border: 1px solid #555;
	padding: 1px;
	color: #555;
	cursor: pointer;
}

#gbox_loading {
	position: absolute;
	z-index: 101;
	height:100px;
	width:100px;
}

