/* c2c buttons
 * Because having cross browser consistent UI
 * for form elements is a fucking mess
 */

/* common for topoguide specific buttons and forum */
input[type=submit], input[type=reset], input[type=button], .c2cui_btn {
  margin: 0 0.5em 0 0;
  @include border-radius(4px);
  border: 1px solid #c0c0c0;
  border-bottom-color: #939393;
  border-right-color: #939393;
  background: #f4f4f4; /* old browsers */
  background: -moz-linear-gradient(top, #f9f9f9 0%, #e3e3e3 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#e3e3e3)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f9f9f9 0%,#e3e3e3 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f9f9f9 0%,#e3e3e3 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f9f9f9 0%,#e3e3e3 100%); /* IE10+ */
  background: linear-gradient(top, #f9f9f9 0%,#e3e3e3 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#e3e3e3',GradientType=0 ); /* IE6-9 */
  text-shadow: 0 1px 0 white;
  cursor: pointer;
  @include transition(0.1s linear all);

  &:hover {
    border-color: #777;
    @include box-shadow(0 1px 2px #ccc);
  }

  &:active {
    border-color: #000;
    background-image: -moz-linear-gradient(top, #e3e3e3, #f9f9f9 100%); /* firefox 3.6+ */
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e3e3e3), to(#f9f9f9)); /* safari 4+ */
    background-image: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9 100%); /* chrome, safari 5.1+ */
    background-image: -o-linear-gradient(top, #e3e3e3, #f9f9f9 100%); /* opera 11.1+ */
    background-image: -ms-linear-gradient(top, #e3e3e3, #f9f9f9 100%); /* ie 10+ */
    background-image: linear-gradient(top, #e3e3e3, #f9f9f9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e3e3e3', endColorstr='#f9f9f9', GradientType=0);
  }

  // disbabled
  &:disabled + .c2cui_btno {
    color: gray;
  }

}

// "standalone" buttons, add some padding
input[type=button] {
  padding: 2px;
}

.c2cui_btn {
  height: 1.8em;
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.c2cui_btn.main_button {
  font-weight: bold;
}

.c2cui_btno {
  display: block;
  height: 100%;
  margin-right: 4px;
  margin-left: 4px;
}

.c2cui_btnin {
  display: inline-block;
  height: 1.8em;
  line-height: 1.8em;
}

.c2cui_btnr {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 !important;
  height: 100% !important;
  width: 100%;
  @include opacity(0);
}

.c2cui_picto {
  padding-left : 20px;
}

/* we use 2em for button size, but some need to be aligned with form inputs which are 1.8 for better visual effect */
.c2cui_btn.samesize {
  height: 1.5em;
  padding: 1px;
}
.c2cui_btn.samesize .c2cui_btnin {
  height: 1.5em;
  line-height: 1.5em;
}

/* disabled buttons */
/*input[type=submit], input[type=reset], input[type=button] {
  &:disabled + .c2cui_btno {
    color: gray;
  }
}*/
