@import "ui-spinner";
@include ui-spinner(#fff, 46px, lightgray, $orange, .8, 3s);

#elevation_profile {
  font: 10px sans-serif;

  .axis path,
  .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
  }

  .line {
    fill: none;
    stroke: $orange;
    stroke-width: 3px;
  }

  .circle {
    fill: white;
    stroke: $orange;
    stroke-width: 2px;
  }

  line.target {
    stroke: lightgray;
    stroke-width: 1px;
  }

  .bubble {
    font-size: 12px;
  }

  .overlay {
    fill: none;
    pointer-events: all;
  }
}

.elevation_profile_controls {
  @if $standard {
    label {
      display: block;
    }
  }

  &.left {
    width: 250px;
    float: left;

    .xaxis-label {
      display: block;
    }
  }
}
