// css specific for mobile version
@import "base";

html, body, #holder
{
  min-width: 240px;
}

// http://www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
body
{
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

#header
{
  height: auto;
  margin: 0;
}

#header #banner_middle
{
  height: auto;
  margin: 0 0 0 1px;
  clear: both;
  float: left;
}

.sbox select
{
  width: 47%;
}

#quick_switch
{
  padding-bottom: 2px;
}

.qck_sw span
{
  height: 19px;
  margin-right: 10px;
}

#path
{
  left: 1px;
}

#content_box
{
  margin-bottom: 20px;
}

.clearing
{
  padding: 5px 1px;
}

.home_article
{
  margin-top: 0;
}

h1 .article_title_img
{
  margin-left: 0;
}

.article_title
{
  font-size: 20px;
}

.article_title a
{
  font-size: 22px;
}

h1 .article_title
{
  padding-left: 32px;
}

#wrapper_context
{
  padding-right: 0;
}
#wrapper_context.no_nav
{
  padding-left: 0;
}

.home_title_right
{
  display: none;
}
.home_title_text
{
  margin-right: 0;
}

.home .article
{
  padding-bottom: 0;
}

.content_article .article
{
  padding-right: 4px;
  margin-left: 4px;
  border: 0;
}

#article_infos_titre, .article_infos_titre {
  margin-right:5px;
  width:auto;
}

.warning_message, .important_message, .global_form_error, .preview_warning, .front_message
{
  width: auto !important;
}

.important_message, .global_form_error, .preview_warning, .mandatory_fields_warning
{
  padding-left: 30px;
  padding-right: 0;
  background-position: 0 50%;
}

.warning_message
{
  padding-left: 44px;
  padding-right: 8px;
  background-position: 6px 50%;
}

section_subtitle.htext
{
  margin-top: 0.2em;
}

.content_article textarea
{
  width: 100%;
}
input.long_input
{
  width: 99%;
}

#map_container p.default_text
{
  display: none;
}

.edit-tips
{
  margin-left: 0;
}

.article .title2.htext
{
  margin-left: 0;
}

#routes_summary, ul.children_docs, table.children_docs
{
  padding-left: 0;
}

.children_docs td
{
  padding-right: 5px;
}
.children_docs td:last-child
{
  padding-right: 0;
}
.children_docs tr
{
  display: block;
}
.children_docs td
{
  display: inline;
}

#routes_summary .list_link
{
  float: right;
}

.pages_navigation a, .pages_navigation span
{
  margin-right: 1.2em;
  margin-top: 5px;
  margin-bottom: 5px;
}
.pages_navigation a span
{
  margin-right: 0;
}

#fields_tooltip
{
  left: 0;
  top: 0;
  padding: 4px;
  margin: 0;
  max-width: auto;
}
  
#filterform #fs_area
{
  width: 220px;
  float: none;
}

/* try to make forums more compact */
#punwrap
{
  margin-left: 0;
  margin-right: 0;
}

.pun th
{
  overflow: hidden;
}

div.postleft
{
  width: 100%;
}
div.postleft dl
{
  padding-top: 2px;
}
div.postleft dt, div.postleft dd
{
  float: left;
  padding-bottom: 4px;
}
div.postleft dd
{
  margin: 0.1em 0 0 1em;
  line-height: 1.3em;
}
div.postleft dd.postavatar
{
  display: none;
}

div.postright
{
  float: left;
}
div.postright, div.postfootright
{
  border-left-width: 0;
}

div.postmsg h4
{
  margin-bottom: 0.4em;
}

.pun blockquote, #article blockquote, div.codebox
{
  margin: 5px 0.4em 0.4em 0.4em;
  padding: 6px;
}

.pun .txtarea
{
  width: 100%;
}

div.icon
{
  border-width: 0.5em;
  margin-left: 0;
}
td div.tclcon
{
  margin-left: 0;
}

td div.tclcon h3
{
  margin-left: 1.3em;
}
td div.tclcon a
{
   margin-left: 0.4em;
}
td div.tclcon h3 a
{
   margin-left: 0;
}

.pun td.tcr, .pun td.tcl
{
  width: auto;
}

div.blockform form, div.fakeform
{
  padding: 20px 0 15px 0
}

.pun div > fieldset
{
  border: 0;
}

.pun fieldset
{
  padding: 0 5px 0 5px 0;
}

.postlink
{
  width: auto !important;
  float: none !important;
  text-align: left !important;
  clear: none !important;
}

.pagelink
{
  width: auto !important;
  float: none !important;
}

/* MP */
#punmessage_list .blockmenu {
  width: auto !important;
  float: none !important;
  margin-bottom: 12px; /* compensate the -12px margin-top from linkst */
}
#punmessage_list .inbox li {
  display: inline;
  margin-left: 5px;
  margin-bottom: 5px;
}
#punmessage_list .blocktable {
  width: auto !important;
  margin-left: 0 !important;
}

// forum compose box
a.smiley {
  margin-right: 6px;
}

#punwrap input[type=button] {
  margin-top: .4em;
}

/* footer */
#footer
{
  margin: 0;
  height: 120px;
}

#footer_cc
{
  left: 0;
  margin-left: 0;
  margin-top: 5px;
  padding-left: 10px;
}

#footer_partners
{
  left: 0;
  position: relative;
  width: auto;
}

/* images */
.picture
{
  width: 100%;
  border: 0;
  padding: 0;
  margin: 0;
  margin-top: 5px;
  text-align: center;
}

.picture img{
  max-width: 100%;
}

.thumb_data {
  width: 148px;
  height: 215px;
  margin: 0;
}

// mobile header and menu
.select_button
{
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
  height: 100%;
  width: 100%;
  display: inline-block;
}

#menu
{
  clear:both;
}

select.menu_select
{
  @include opacity(0);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  @include box-sizing(content-box);
  border: none;
}

.menu_item
{
  border-top: 1px solid #999999;
  border-bottom: 1px solid #999999;
  position: relative;
  text-align: center;
  background-color: #ff9933;
  padding-top: 5px;
  padding-bottom: 5px;
}

.menu_item.middle
{
  border-left: 1px solid #999999;
}

.menu_item.left
{
  @include border-left-radius(6px);
  border-left: 1px solid #999999;
}

.menu_item.right
{
  @include border-right-radius(6px);
  border-right: 1px solid #999999;
  border-left: 1px solid #999999;
}

#user_mngt
{
  min-height: 16px;
}

.menu_entry
{
  float: left;
  width: 25%;
}

.menu_select {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#mobile_home
{
  width: 82px;
  height: 40px;
  float: left;
  margin-top: 8px;
}

#mobile_home, .logo_mini {
  @include -c2c-datauri-background('/static/images/logo_mini.png', no-repeat 0);
}

#mobile_home span
{
  display: inline-block;
  height: 100%;
  width: 100%;
}

#mobile_home a, .menu_item a
{
  text-decoration: none;
}

.log_elt, #quick_switch
{
  padding-bottom: 2px;
  padding-top: 1px;
  margin-left: 82px;
}

a.logged_as
{
  background: none;
  padding:0;
}

/* Do not use multi columns display  */
.all_associations,
.col, .col_left, .col_right,
.article .col, .col_left, .article .col_left,
.article .col, .article .col_left,
.col_right, .article .col_right,
.article .col, .article .col_right,
.col_20, .article_contenu .col_20,
.col_25, .article_contenu .col_25, .article_contenu .col_26,
.col_33, .article_contenu .col_33,
.col_50, .article_contenu .col_50, .article_contenu .col_51,
.article_contenu .col_52,
.col_66, .article_contenu .col_66,
.article_contenu .col_left.col_20, .article_contenu .col.col_20,
.article_contenu .col_left.col_25, .article_contenu .col.col_25,
.article_contenu .col_left.col_52, .article_contenu .col.col_52,
.article_contenu .col_left.col_26, .article_contenu .col.col_26,
.article_contenu .col_left.col_51, .article_contenu .col.col_51,
.article_contenu .col_left.col_33, .article_contenu .col.col_33, .article_contenu .col_left.col_66,
.article_contenu .col_left.col_50, .article_contenu .col.col_50,
.article .col.alone, .article .col_left.alone, .article .col_right.alone,
.article .col_left.alone, .article .col_right.alone,
.article .col.top,
#article_gauche_5050, .article_gauche_5050,
#article_droite_5050, .article_droite_5050
{
  width: auto;
  margin-left: 0;
  margin-right: 0;
  clear: both;
  float: none;
}

.one_kind_association:last-child, ul.data:last-child
{
  margin-bottom: 0.9em !important;
}

/* image thumbnails hover */
.image_list .image .image_actions,
.image_list .image .image_license,
.thumb_data_img .image_license
{
  display: block !important;
}

div.image
{
  margin: 4px 14px 4px 14px;
}

/* documents lists */
ul.list
{
  margin-top: 5px;
  margin-bottom: 5px;
}

ul.list .right
{
  float: right;
}

li.list_even, li.list_odd
{
  padding: 5px 3px;
}

li.list_even
{
  background-color: #e2dfd8;
}

li.list_odd
{
  background-color: #fff;
}

/* portals */
#nav_prepare
{
  padding-left: 0;
  margin-top: 15px;
}


/* in mobile version home, the last images section is put in home_left_content 
   we correct vertical spacing */
#last_images
{
  margin-top: 0;
}

#last_images_section_container
{
  margin-bottom: 0;
}

/* rearrange a bit columns sizes on homepage */
#home_left_content
{
  width: 65%;
}

#home_right_content
{
  width: 33%;
}

@import "mobile_autocomplete";

/*
 * NOTE for the following media queries, smartphone and tablet terms are
 * only indications
 */

/* portrait phones and down */
@media screen and (max-width:400px)
{

  /**
   * we make images in docs all centered and cleared
   */
  .embedded_left, img.embedded_left,
  .embedded_right, img.embedded_right,
  .embedded_center, img.embedded_center,
  .embedded_inline, img.embedded_inline,
  .embedded_inline_left, img.embedded_inline_left,
  .embedded_inline_right, img.embedded_inline_right,
  .embedded_inline_0, img.embedded_inline_0
  {
    display: -moz-inline-box;
    display: inline-block;
    float: none;
    text-align: left;
    clear: both;
    margin: 5px;
  }

  .img_mobile
  {
    text-align: center;
  }
}

/* specific rules for smartphones (not tablets) - width <= 600px */
@media screen and (max-width:600px)
{
  /*
   * the upper menu of the forum are all left aligned instead of having a two column presentation
   */
  .pun .block .conl, .pun .block .conr
  {
    width: 100%;
    padding: 0;
    float: left;
    clear: left;
    text-align: left;
  }

  /*
   * We hide some elements in the forums, like some columns, signatures, ...
   * because .tc2 columns should sometimes be hideen, sometimes not (and we want to avoid
   * too many changes to punbb), we use a specific hide4smartphone class
   */
  .postsignature, .hide4smartphone {
    display: none;
  }

  /*
   * Do not lose space on the left to display outings dates
   */
  ul.dated_changes li
  {
    margin: 0 !important;
  }

  ul.dated_changes span.date
  {
    position: relative;
    margin-right: 5px;
  }
  
  .float-tips
  {
    width: auto;
  }

  input.medium2-input
   {
    width: auto;
  }
}

// on mobile versio, text input fields should be have an at least 16px font to prevent autozoom
textarea, .pun textarea, input[type=text], input[type="password"], input[type="email"], input[type="number"],
input[type="range"], input[type="date"], input[type="color"], input[type="search"],
// we also change some elements accordingly for visual consistency
select, #google_search_submit {
  font-size: 16px;
}


/* specific rules for tablets - min width >= 600px */
@media screen and (min-width:600px)
{
  /*
   * Move banner in the footer
   */
  #mobile_banner
  {
    position: absolute;
    bottom: 35px; /* in the middle of footer which is 120px high */
    right: 10px;
    z-index: 2;
  }

  #footer_cc
  {
    margin-right: 330px;
  }

  /*
   * Customize menu...
   */
}

/* specific rules for smartphones and tablets in portrait mode - max width <= 800px */
@media screen and (max-width:800px)
{
  /*
   * Don't use columns on home page
   */
  #home_left_content
  {
    width: 100% !important;
    padding-right: 0;
    min-height: 0;
  }

  #home_right_content
  {
    width: 100% !important;
    float: left;
    padding-top: 0;
  }

  /*
   * Do not display latest outings from metaengine
   */
  #on_the_web
  {
    display: none;
  }

  .extraheight
  {
    width: 100% !important;
    height: auto;
  }

  /*
   * We don't display L# lines as tables, we instead inline
   * cells inside a row
   * We also make sure they don't get messed with images
   */
  .route_lines
  {
    clear: both;
  }

  .route_lines tr
  {
    display: block;
  }

  .route_lines th, .route_lines td
  {
    padding: 0.1em 0.3em 0.1em 0.3em;
    display: inline;
  }

  .sites_content .route_lines td:first-child
  {
    padding-left: 0.1em;
  }
  .sites_content .route_lines td:last-child
  {
    padding-right: 0.1em;
  }
}

@import "swipe";
