/* autocomplete in mobile version */
$h: 30px;
$f: 16px;

// correctly position our input on top of page
.content_article {
  position: static;
}

.auto_complete {
  border: 0;
  font-size: $f;
}

#filterform .geocode_auto_complete {
  & + .mobile_auto_complete_background, ~ .mobile_auto_complete_escape {
    display: none;
  }

  &:focus {
    @include box-sizing(border-box);
    font-size: $f; // make it more readable + prevent autozoom on focus from mobile browsers
    height: $h;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 600;

    & + .mobile_auto_complete_background {
      background-color: white;
      display: block;
      left: 0;
      min-height: 100%;
      padding-top: $h;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 599;
    }

    & ~ .mobile_auto_complete_escape {
      display: block;
      font-size: $f;
      position: absolute;
      right: 10px;
      top: ($h - $f) / 2;
      z-index: 601;
    }
  }
}

// move indicator so that it is displayed just under the input
#indicator.auto_complete_pos {
  top: 35px;
}
