/* plupload specific styles */
#plupload_ondrag {
  font-size: 2em;
  font-style: normal;
  font-weight: bold;
  background-color: white;
  border: 6px solid #f93;
  text-align: center;
  position: absolute;

  p {
    margin-top: 1.5em;
  }
}

#plupload_normal {
  background-color: white;
}

#plupload_tips {
  position: relative;
}

.image_upload_entry {
  padding: 10px;
  border-top: solid 1px black;
}

#images_submit {
  margin-bottom: 5px;
}

.plupload_progress_bar
{
  width: 100px;
  height: 7px;
  border: 1px solid #ccc;
  padding: 0;
  margin: 0;
  margin-right: 5px;
  position: relative;
  display: inline-block;
}

.plupload_progress
{
  background-color: #f93;
  height: 100%;
  width: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.plupload_text
{
  position: relative;
}

#form_file_input
{
  margin-bottom: 2px;
}
