// thumbnail images
$dim: 120px;

.image
{
  float: left;
  position: relative;
  padding: 2px;
  border: 1px solid #cccccc;
  margin: 4px;
  width: $dim;
  height: $dim;
  text-align: center;

  img, a {
    width: $dim;
    height: $dim;
  }

  a {
    display: block;
    overflow: hidden;
  }
}

// for images on home or on portals
// and in standard version, add an overlay on hover
// once transition on pseudo elements will be more widely supported
// we could maybe use nested ::after to generate the thumbnail-overlay
@if $standard {
  .image {
    .thumbnail-overlay {
      background-color: #000;
      color: #fff;
      text-decoration: none;
      line-height: $dim;
      opacity: .8;
      width: $dim;
      height: $dim;
      top: 0; // FF won't transition default values
      position: relative;
      @include transition(.3s linear top);
    }

    &:hover .thumbnail-overlay {
      top: -$dim;
    }

    .thumbnail-desc {
      vertical-align: middle;
      display: inline-block;
      line-height: normal;
    }
  }
}

#insertimagetag_list
{
  max-height: 340px;
  overflow: auto;
}

.selected_image
{
  background-color: $orange;
  border: 1px solid $orange;
}

.image_list .image_actions
{
  position: absolute;
  top: 2px;
  width: $dim;
  background-color: silver;
}

.image_list .image_actions a:hover, .image_list .image_actions span:hover
{
  background-color: #fff;
}

#last_image_list
{
  overflow: hidden;
  height: 130px;
}

.image_list .image_actions a, .image_list .image_actions span
{
  float: right;
  height: 20px;
  text-indent: -99999px;
  width: 30px;
  background-position: center center;
  background-repeat: no-repeat;
}

.image_list a.view_details
{
  background-position: 7px 2px !important;
  float: right;
}

.image_list a.view_original
{
  background-position: 6px !important;
  float: left;
}

.image_list a.unlink
{
  background-position: 7px !important;
  float: left;
}

.image_list a.edit_image
{
  float: left;
}

.image_list .image_license
{
  position: absolute;
  top: 107px;
  left: 2px;
  width: 80px;
  height: 15px;
}

.image_list img
{
  width: $dim;
  height: $dim;
}

.img_box a.view_details
{
  width: 16px;
  height: 16px;
  text-indent: -9999px;
  float: right;
  margin-left: 3px
}
