@import "blob";

.c2cwgt {
  position: relative;
  border: 1px solid #FF9933;
  width: 200px;
  padding: 0 0 40px 0;
  margin: 5px 5px 5px 5px;
  background: white none;

  h1 {
    font-size: 14px;
    color: white;
    background-color: #FF9933;
    text-align: center;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
  }

  ul {
    padding: 0;
    list-style-image: url('http://s.camptocamp.org' + c2chash('/static/images/picto/puce2.png'));
    list-style-type: disc;
    margin: 0.7em 0.5em 0.5em 1.5em;
    vertical-align: top;

    li {
      margin: 0 0 0 0.5em;
      padding: 0 0 0.4em 0;
    }
  }

  a {
    text-decoration: none;
    color: #666666;
    margin: 0;
    padding: 0;

    &:hover {
      text-decoration: underline;
    }

    .c2cwgt_link {
      overflow: auto;
      margin: 2px 0 2px 0;
      right: 2px;
      border: 0;
    }
  }

  img {
    display: block;
    float: right;
    width: 82px;
    height: 40px;
  }
}

.c2cwgt_loading {
  margin-top: 2px;
  margin-right: 2px;
  width: 31px;
  height: 31px;
  margin-left: auto;
  margin-right: auto;
  background: white url('http://s.camptocamp.org' + c2chash('/static/images/ajax/ajax-loader2.gif')) no-repeat scroll center;
}
