@import "blob";

/* CSS patch for IE7 */
#content_box
{
  margin:0;
}

#wrapper_context
{
  position: relative;
  width: expression(document.body.clientWidth - 240 + "px");
}

#cda_background_right
{
  position: relative;
  width: expression(document.body.clientWidth - 340 + "px");
}

/* header */
#banner_middle
{
  padding-top:5px;
  height: auto;
}

#pub
{
  width: 100%;
  max-width:500px;
}

#menu
{
  margin-bottom: 5px;
  margin-top: 0;
}

#splitter
{
  left: 0;
}

.menu_content *
{
  z-index: 12;
}

/* Divers */
#preview *
{
  position: relative;
}

.error, .notice, .warning
{
  z-index: 1000;
  position: absolute;
  top: 5px;
  left: 5px;
}

tr
{
  background: #E2DFD8;
}

#nav_anchor li, #nav_anchor a, #nav_edit li
{
  padding-top: 2px;
}

#pagehistory, .list
{
  width: 98%;
}

.table_list_odd td
{
  background: #E2DFD8;
}

.table_list_even td
{
  background: white;
}

#wizard_button li a
{
  padding-bottom: 4px;
}

#wizard_button .action_create
{
  background: url(-c2c-hashurl('/static/images/picto/add.png')) no-repeat 1px 1px;
}

.nav_box_text ul, ul.listed_changes li, ul.children_docs li
{
  list-style-image: url(-c2c-hashurl('/static/images/picto/puce2.png'));
}

.nav_box_content
{
  background: url(-c2c-hashurl('/static/images/bg_nav.png')) repeat-x bottom left;
}

.image_list div.image_actions
{
  position: absolute;
  top: 2px;
  left: 2px;
}

/* Footer */
#footer
{
  margin: 50px 15px 0 15px;
}

#footer_border_right
{
  width: 12px;
}

.map_content #footer_border_left, .map_content #footer_border_right
{
  background-position-y: -30px;
}

#footer_partners
{
  height: 80px;
}

#footer_partners img
{
  margin-left:0;
  margin-right:10px;
  margin-bottom:-10px;
}

#footer_cc_text
{
  width: expression(document.body.clientWidth - 465 + "px");
  overflow-x: auto;
}

/* home */

.article, .article_content
{
  display: block;
  position: relative;
}

#img_welcome
{
  width: expression(((document.body.clientWidth - 220) / 2 < 250) ? '250px' : 'auto');
}

#img_welcome_text
{
  margin: 0;
}

.img_welcome_text1
{
  margin: 0;
}

.img_welcome_text2
{
  margin: 0;
}

#MB_content input
{
  z-index: 4;
  display: block;
}

#menu_content li li a
{
  padding-left: 5px;
}

#menu_content li li li a
{
  width: 80%; 
  display: inline-block;
}

input.srch_submit
{
  float: left;
  clear: both;
  width: auto;
}

input, select {
  height: auto;
}

.home_title_text
{
  height: 1.3em;
}

/* Style for Lists */
table.list
{
  width: 100%;
}

div.sbox
{
  width: 100%;
}

#q {
  height: auto;
}

#article_droite_boxs input
{
  border:0;
}

.content_article .section_subtitle
{
  margin-right:0.5em;
}

#data_section_container .section_subtitle
{
  display: inline;
}

.linked_elt
{
  padding:0;
  margin: 0 0 0 20px;
}

span.picto /* don't know why but text-indent=-9999px makes surrounding div disappear */
{
  text-indent:0;
}

div.img_box
{
  width: 180px;
}

div.file_to_upload_categories select
{
  margin-top: 2em;
}
.file_to_upload_info
{
  margin: 0 5px 1px 5px;
}

#customize fieldset
{
  float: none;
}

.bbcodetoolcontainer input
{
  line-height: 1em;
}

#banner_title
{
  display: inline;
}

.log_elt {
  padding-bottom: 3px;
}

#cda_logo
{
  display: inline;
}

.form-row input
{
  height: 1.3em;
}

/* ie6 and ie7 don't support data uris */
a.external_link, .htext .hextra a.external_link {
  background: transparent url(-c2c-hashurl('/static/images/extlink.gif')) left center no-repeat;
}

#order li
{
  background: url(-c2c-hashurl('/static/images/picto/drag.gif')) no-repeat 5px;
}


/* following rules are because using classical css sprites to get good looking
   buttons is $^*@! */
.c2cui_picto.action_create
{
  background: url(-c2c-hashurl('/static/images/picto/add.png')) no-repeat 0;
}

.c2cui_picto.action_filter, #google_search_submit, #q
{
  background: url(-c2c-hashurl('/static/images/picto/search.png')) no-repeat 0;
}

/*#google_search_submit, #q {
  background-position: 2px;
}*/

.c2cui_picto.action_cancel
{
  background: url(-c2c-hashurl('/static/images/picto/cancel.png')) no-repeat 0;
}

.c2cui_picto.action_list
{
  background: url(-c2c-hashurl('/static/images/picto/list.png')) no-repeat 0;
}

.c2cui_picto.action_edit
{
  background: url(-c2c-hashurl('/static/images/picto/edit.png')) no-repeat 0;
}

.c2cui_picto.action_rm
{
  background: url(-c2c-hashurl('/static/images/picto/rm.png')) no-repeat 0;
}

/* ie7 doesn't support data uris, so let's use css sprites (see img.css) */
.picto_areas, .picto_articles, .picto_books, .picto_huts, .picto_images,
.picto_maps, .picto_outings, .picto_parkings, .picto_routes, .picto_sites,
.picto_summits, .picto_users, .picto_documents, .picto_products, .picto_portals,
.picto_1, .picto_4, .picto_3, .picto_13, .picto_7, .picto_9, .picto_10, .picto_5,
.picto_8, .picto_11, .picto_12, .picto_6, .picto_2, .picto_14, .picto_15
{
  background: url(-c2c-hashurl('/static/images/modules/modules_mini.png')) no-repeat;
}
.picto_areas, .picto_4
{
  background-position: -8px -8px;
}
.picto_articles, .picto_11
{
  background-position: -8px -40px;
}
.picto_books, .picto_12
{
  background-position: -8px -72px;
}
.picto_huts, .picto_10
{
  background-position: -8px -136px;
}
.picto_images, .picto_8
{
  background-position: -8px -168px;
}
.picto_maps, .picto_6
{
  background-position: -8px -200px;
}
.picto_outings, .picto_5
{
  background-position: -8px -232px;
}
.picto_parkings, .picto_9
{
  background-position: -8px -264px;
}
.picto_routes, .picto_7
{
  background-position: -8px -296px;
}
.picto_sites, .picto_13
{
  background-position: -8px -328px;
}
.picto_summits, .picto_3
{
  background-position: -8px -360px;
}
.picto_users, .picto_2
{
  background-position: -8px -392px;
}
.picto_products, .picto_14
{
  background-position: -8px -419px;
}
.picto_portals, .picto_15
{
  background-position: -8px -451px;
}
.picto_documents, .picto_1 {
  background-position: -8px -104px;
}
/* sbox select has extra padding we need to deal with */
.sbox select.picto_areas, .sbox select.picto_4
{
  background-position: -6px -6px;
}
.sbox select.picto_articles, .sbox select.picto_11
{
  background-position: -6px -38px;
}
.sbox select.picto_books, .sbox select.picto_12
{
  background-position: -6px -70px;
}
.sbox select.picto_huts, .sbox select.picto_10
{
  background-position: -6px -134px;
}
.sbox select.picto_images, .sbox select.picto_8
{
  background-position: -6px -166px;
}
.sbox select.picto_maps, .sbox select.picto_6
{
  background-position: -6px -198px;
}
.sbox select.picto_outings, .sbox select.picto_5
{
  background-position: -6px -230px;
}
.sbox select.picto_parkings, .sbox select.picto_9
{
  background-position: -6px -262px;
}
.sbox select.picto_routes, .sbox select.picto_7
{
  background-position: -6px -294px;
}
.sbox select.picto_sites, .sbox select.picto_13
{
  background-position: -6px -326px;
}
.sbox select.picto_summits, .sbox select.picto_3
{
  background-position: -6px -358px;
}
.sbox select.picto_users, .sbox select.picto_2
{
  background-position: -6px -390px;
}
.sbox select.picto_documents, .sbox select.picto_1 {
  background-position: -6px -102px;
}
.image_list a.view_details, #lightbox_view_details
{
  background: url(-c2c-hashurl('/static/images/modules/modules_mini.png')) no-repeat -1px -166px;
}

.article_title_img
{
  background: url(-c2c-hashurl('/static/images/modules/modules.png')) no-repeat;
}
.img_title_areas
{
  background-position: -11px -11px;
}
.img_title_articles
{
  background-position: -11px -61px;
}
.img_title_books
{
  background-position: -11px -111px;
}
.img_title_documents
{
  background-position: -11px -161px;
}
.img_title_huts
{
  background-position: -11px -211px;
}
.img_title_images
{
  background-position: -11px -261px;
}
.img_title_maps
{
  background-position: -11px -311px;
}
.img_title_outings
{
  background-position: -11px -361px;
}
.img_title_parkings
{
  background-position: -11px -411px;
}
.img_title_routes
{
  background-position: -11px -461px;
}
.img_title_sites
{
  background-position: -11px -511px;
}
.img_title_summits
{
  background-position: -11px -561px;
}
.img_title_users
{
  background-position: -11px -611px;
}
.img_title_products
{
  background-position: -11px -661px;
}
.img_title_portals
{
  background-position: -11px -709px;
}
.img_title_noimage
{
  background-position: 30px 0;
}

/* 'view', 'edit', 'history'... tabs */
.ombre_haut, .ombre_bas, #footer
{
  background-image: url(-c2c-hashurl('/static/images/borders_repeat_x.png'));
}

#footer
{
  background-position: center -65px;
}
.ombre_haut {
  background-position: center -23px;
}
.ombre_bas {
  background-position: center -0;
}

.form-row .fieldname
{
  background: transparent url(-c2c-hashurl('/static/images/picto/help2.png')) no-repeat scroll 0 6px;
}

/* action images */
.action_edit span, .action_edit, .action_list span, .action_list, .action_filter span, .action_filter,
.action_delete, .action_del_light, .action_protect, .action_unprotect, .action_merge, .action_rss, .action_rss_new,
.action_query, .action_create, .action_cancel, .action_back, .action_next, .action_first, .action_last, .action_up, .action_down,
.action_contact, .action_view, .action_print, .action_bookmark, .action_tag,
.action_report, .action_rm, .action_help, .action_informations, .action_description,
.action_comment span, .action_comment, .action_gps, .action_on, .action_off, .action_cc,
.action_json, .action_kml, .action_people,
.picto_rss, .picto_list, .picto_forum, .picto_forums, .picto_info, .picto_tools, .picto_add, .picto_rm,
.picto_open, .picto_open_light, .picto_close, .picto_close_light, .picto_movie,
.picto_weather, .picto_snow, .picto_images_light
{
  background: url(-c2c-hashurl('/static/images/picto/actions.png')) no-repeat;
}

.action_edit span, .action_edit
{
  background-position: -8px -295px;
}

.action_list span, .action_list
{
  background-position: -8px -418px;
}

.action_filter span, .action_filter
{
  background-position: -8px -674px;
}

.action_delete
{
  background-position: -8px -232px;
}

.action_del_light
{
  background-position: -8px -1215px;
}

.action_protect
{
  background-position: -8px -547px;
}

.action_unprotect
{
  background-position: -8px -739px;
}

.action_merge
{
  background-position: -8px -451px;
}

.action_rss, .action_rss_new
{
  background-position: -8px -643px;
}

.action_query
{
  background-position: -8px -675px;
}

.action_create
{
  background-position: -8px -8px;
}

.action_cancel
{
  background-position: -8px -104px;
}

.action_back
{
  background-position: -8px -40px;
}

.action_next
{
  background-position: -8px -827px;
}

.action_first
{
  background-position: -8px -859px;
}

.action_last
{
  background-position: -8px -891px;
}

.action_up
{
  background-position: -8px -1311px;
}

.action_down
{
  background-position: -8px -1343px;
}

.action_people
{
  background-position: -8px -1375px;
}

.action_contact
{
  background-position: -8px -326px;
}

.action_view
{
  background-position: -8px -200px;
}

.action_print
{
  background-position: -8px -515px;
}

.action_bookmark
{
  background-position: -8px -72px;
}

.action_tag
{
  background-position: -8px -957px;
}

.action_report
{
  background-position: -8px -579px;
}

.action_rm
{
  background-position: -8px -611px;
}

.action_help
{
  background-position: -8px -355px;
}

.action_informations
{
  background-position: -8px -387px;
}

.action_description
{
  background-position: -8px -264px;
}

.action_comment span, .action_comment
{
  background-position: -8px -167px;
}

.action_gps
{
  background-position: -8px -923px;
}

.action_kml
{
  background-position: -8px -1115px;
}

.action_json
{
  background-position: -8px -1083px;
}

.action_on
{
  background-position: -8px -1021px;
}

.action_off
{
  background-position: -8px -989px;
}

.action_cc
{
  background-position: -8px -1055px;
}

.picto_list
{
  background-position: -8px -419px;
}
.picto_forum, .picto_forums
{
  background-position: -8px -168px;
}
select.picto_forum, select.picto_forums
{
  background-position: -6px -166px;
}
.picto_info
{
  background-position: -8px -387px;
}
.picto_tools
{
  background-position: -8px -707px;
}
.picto_open
{
  background-position: -8px -483px;
}
.picto_open_light
{
  background-position: -8px -1151px;
}
.picto_close
{
  background-position: -8px -136px;
}
.picto_close_light
{
  background-position: -8px -1183px;
}
.picto_add
{
  background-position: -8px -8px;
}
.picto_rm
{
  background-position: -8px -611px;
}
.picto_rss
{
  background-position: -8px -643px;
}
.picto_weather
{
  background-position: -8px -1247px;
}
.picto_snow
{
  background-position: -8px -1279px;
}
.picto_images_light
{
  background-position: -8px -1407px;
}
.picto_movie
{
  background-position: -8px -1440px;
}
.image_list a.view_original, #lightbox_view_original
{
  background: url(-c2c-hashurl('/static/images/picto/actions.png')) no-repeat -2px -673px;
}

.image_list a.unlink
{
  background: url(-c2c-hashurl('/static/images/picto/actions.png')) no-repeat -1px -609px;
}

th.order_desc, th.order_asc
{
  background: url(-c2c-hashurl('/static/images/picto/actions.png')) no-repeat;
}
/* position: 3px 6px */
th.order_desc
{
  background-position: -5px -477px;
}

th.order_asc
{
  background-position: -5px -130px;
}

.activity_1, .activity_1_light, .activity_2, .activity_2_light,
.activity_3, .activity_3_light, .activity_4, .activity_4_light,
.activity_5, .activity_5_light, .activity_6, .activity_6_light,
.activity_7, .activity_7_light, .activity_8, .activity_8_light,
.pt_1, .pt_2, .pt_3,
.freq_1, .freq_2, .freq_3, .freq_4,
option.picto_act
{
  background: url(-c2c-hashurl('/static/images/picto/activities_mini.png')) no-repeat;
}

.activity_6, option.act_6
{
  background-position: -8px -8px;
}
.activity_6_light
{
  background-position: -8px -40px;
}
.activity_5, option.act_5
{
  background-position: -8px -72px;
}
.activity_5_light
{
  background-position: -8px -104px;
}
.activity_3, option.act_3
{
  background-position: -8px -136px;
}
.activity_3_light
{
  background-position: -8px -168px;
}
.activity_4, option.act_4
{
  background-position: -8px -200px;
}
.activity_4_light
{
  background-position: -8px -232px;
}
.activity_1, option.act_1
{
  background-position: -8px -264px;
}
.activity_1_light
{
  background-position: -8px -296px;
}
.activity_2, option.act_2
{
  background-position: -8px -328px;
}
.activity_2_light
{
  background-position: -8px -360px;
}
.activity_7, option.act_7
{
  background-position: -8px -616px;
}
.activity_7_light
{
  background-position: -8px -648px;
}
.activity_8, option.act_8
{
  background-position: -8px -680px;
}
.activity_8_light
{
  background-position: -8px -712px;
}
.pt_2
{
  background-position: -8px -392px;
}
.pt_3
{
  background-position: -8px -424px;
}
.pt_1
{
  background-position: -8px -456px;
}
.freq_1
{
  background-position: -8px -488px;
}
.freq_2
{
  background-position: -8px -520px;
}
.freq_4
{
  background-position: -8px -552px;
}
.freq_3
{
  background-position: -8px -584px;
}

/* borders and logos sprites */
#banner_logo, #facebook_logo, #twitter_logo, #googleplus_logo, .logo_mini,
.ombre_haut_corner_right, .ombre_haut_corner_left, .ombre_bas_corner_right, .ombre_bas_corner_left,
#nav_anchor_top, #nav_tools_top, #nav_license_top, #nav_anchor_down, #nav_tools_down, #nav_license_down,
#wizard_button_top, #wizard_button_down, .nav_box_top, .nav_box_down, .nav_box_top.small,
#nav_edit li a, #nav_edit li div, #nav_edit li.active_tab a,
#nav_edit li a:link, #nav_edit li a:visited, #nav_edit li a:hover, #nav_edit li div:hover,
#footer_border_left, #footer_border_right, #partners a,
.picto.cc-by-sa, .picto.cc-by-sa-mini, .picto.cc-by-nc-nd, .picto.copyright,
.cc_gen, .cc_gen.lang_fr, .image_license, .license_mini,
#paypal-button, #pp_button_mini, span.share_bookmark,
.thumb_data_img div.license_1, .image_list div.license_1,
.thumb_data_img div.license_2, .image_list div.license_2,
.thumb_data_img div.license_3, .image_list div.license_3
{
  background: url(-c2c-hashurl('/static/images/borders_and_logos.png')) no-repeat;
}
#banner_logo
{
  background-position: 0 -137px;
}
#facebook_logo
{
  background-position: -184px -156px;
}
#twitter_logo
{
  background-position: -186px -186px;
}
#googleplus_logo
{
  background-position: -230px -279px;
}
.logo_mini
{
  background-position: -130px -226px;
}
#splitter_arrow
{
  background: url(-c2c-hashurl('/static/images/borders_and_logos.png')) no-repeat;
  background-position: -190px -141px;
}
#splitter_arrow.maximize
{
  background-position: -196px -141px;
}
#footer_border_left
{
  background-position: 0 -30px;
}
#footer_border_right
{
  background-position: -12px -30px;
}
#rhonealpes a {
  background-position: 0px -225px;
}
#europa a {
  background-position: -204px -126px;
}
#c2csa a {
  background-position: 0 -251px;
}
.picto.cc-by-sa
{
  background-position: -258px -61px;
}
.picto.cc-by-sa-mini
{
  background-position: -266px -15px;
}
.picto.cc-by-nc-nd
{
  background-position: -258px -30px;
}
.picto.copyright
{
  background-position: -258px -278px;
}
.cc_gen
{
  background-position: -258px -92px;
}
.cc_gen.lang_fr
{
  background-position: -247px -123px;
}
span.share_bookmark.de
{
  background-position: -221px -182px;
}
span.share_bookmark.en
{
  background-position: -221px -198px;
}
span.share_bookmark.it
{
  background-position: -221px -214px;
}
span.share_bookmark.es, span.share_bookmark.ca
{
  background-position: -221px -230px
}
span.share_bookmark.fr
{
  background-position: -221px -246px;
}
span.share_bookmark.eu
{
  background-position: -221px -262px
}
.ombre_haut_corner_right
{
  background-position: -242px -30px;
}
.ombre_haut_corner_left
{
  background-position: -234px -30px;
}
.ombre_haut_corner_left.hl
{
  background-position: -250px -30px;
}
.ombre_bas_corner_right
{
  background-position: -242px -53px;
}
.ombre_bas_corner_left
{
  background-position: -234px -53px;
}
.ombre_bas_corner_left.hl
{
  background-position: -250px -53px;
}
#nav_anchor_top, #nav_tools_top, #nav_license_top
{
  background-position: 0px -10px;
}
#nav_anchor_down, #nav_tools_down, #nav_license_down
{
  background-position: 0 -15px;
}
#wizard_button_top
{
  background-position: 0 0;
}
#wizard_button_down
{
  background-position: 0 -5px;
}
.nav_box_top
{
  background-position: 0 -126px;
}
.nav_box_top.small
{
  background-position: 0 -281px;
}
.nav_box_down
{
  background-position: 0 -131px;
}
#nav_edit li a:link, #nav_edit li a:visited, #nav_edit li div
{
  background-position: -24px -30px;
}
#nav_edit li a:hover, #nav_edit li div:hover, #nav_edit li.active_tab a
{
  background-position: -24px -62px;
}

.thumb_data_img div.license_1, .image_list div.license_1 {
  background-position: -266px -15px;
}

.thumb_data_img div.license_2, .image_list div.license_2 {
  background-position: -266px 0;
}

.thumb_data_img div.license_3, .image_list div.license_3 {
  background-position: -54px -266px;
}
#paypal-button
{
  background-position: -212px -156px;
}
#pp_button_mini
{
  background-position: -138px -266px;
}
span.license_mini_bysa {
  background-position: -266px -15px;
}

/* Bicubic resizing for non-native sized IMG:
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
img { -ms-interpolation-mode: bicubic; }

/* lightbox datauri fallback */
#prevLink:hover, #prevLink:visited:hover { background: url(-c2c-hashurl('/static/images/prev.png')) left 15% no-repeat; }
#nextLink:hover, #nextLink:visited:hover { background: url(-c2c-hashurl('/static/images/next.png')) right 15% no-repeat; }
