@import "blob";

#lightbox{	position: absolute;	left: 0; width: 100%; z-index: 9060; text-align: center; line-height: 0;}
#lightbox img{ width: auto; height: auto;}
#lightbox a img{ border: none; }

#outerImageContainer{ position: relative; background-color: #000; width: 250px; height: 250px; margin: 0 auto; }
#imageContainer{ padding: 10px; font-size:0;}

#loading{ position: absolute; top: 40%; left: 0%; height: 25%; width: 100%; text-align: center; line-height: 0; }
#hoverNav{ position: absolute; top: 0; left: 0; height: 100%; width: 100%; z-index: 10; }
#imageContainer>#hoverNav{ left: 0;}
#hoverNav a{ outline: none;}

#prevLink, #nextLink{ width: 49%; height: 100%; background-image: url(data:image/gif;base64,AAAA); /* Trick IE into showing hover */ display: block; }
#prevLink { left: 0; float: left;}
#nextLink { right: 0; float: right;}
#prevLink:hover, #prevLink:visited:hover { background: url(datauri('/static/images/prev_black.gif')) left 15% no-repeat; }
#nextLink:hover, #nextLink:visited:hover { background: url(datauri('/static/images/next_black.gif')) right 15% no-repeat; }

#imageDataContainer{ font: 12px Verdana, Helvetica, sans-serif; background-color: #000; margin: 0 auto; line-height: 1.4em; overflow: auto; width: 100%	; }

#imageData
{
  padding: 0 10px;
  color: #ccc;
  text-align: left;
}
#imageData #caption{ font-weight: bold;	}
#imageData #numberDisplay{ display: block; clear: left; padding-bottom: 0.2em;	}			
#imageData #bottomNavClose
{
  display: inline-block;
  width: 26px;
  height: 26px;
  float: right;
  padding-left: 1em;
  outline: none;
  background: url(datauri('/static/images/close_lightbox.gif')) 0 0 no-repeat;
}

#overlay{ position: absolute; top: 0; left: 0; z-index: 9050; width: 100%; height: 500px; background-color: #000; }
