@import "blob";

$menu_radius: 8px;
$menu_bg_color: #ffa146;
$menu_ul_color: #d2cabc;
$menu_hover_color: #716d68;
$menu_border_color: #999;

#menu {
  width: auto;
  margin: 0 15px;
}

#menu_up {
  background: $menu_bg_color;
  border: 1px solid $menu_border_color;
  @include border-radius($menu_radius);
}

#menu_content {
  text-align: center;
  padding-left:210px;

  a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: bold;
    display: block;
    height: 1.8em;
    min-height: 22px;
    line-height: 1.8;
    padding: 1px 5px;

    &:hover {
      text-decoration: underline;
      color: #fff;
    }
  }

  ul {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    z-index: 1000;

    ul {
      width: 160px;
      position: absolute;
      visibility: hidden;
      border: 1px solid $menu_border_color;
      text-align: left;
      padding: 5px 0 4px;
      background: $menu_ul_color;
      margin-left: -5px;
      @include border-bottom-radius($menu_radius);
      @include border-top-radius(0);

      ul {
        position:absolute;
        display:none;
        top:-4px;
        left:160px;
        margin-left: 0;
        padding: 4px 0;
        width: 160px;
        border: 1px solid $menu_border_color;
        @include border-right-radius($menu_radius);
        @include border-left-radius(0);

        a:hover {
          background-color: gray;
        }
      }

      a:hover {
        background-color: gray;
      }
    }

    :hover ul { // note that there is no & before :hover
      ul {
        visibility: hidden;
      }
      :hover ul {
         visibility: visible;
         display: block;
      }
    }
  }

  li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: left;
    display: block;
    background-color: $menu_bg_color;
    padding: 0 0.75em 0 0;

    .picto {
      float: left;
      clear: left;
      margin: 5px 0 0 5px;
    }

    li {
      float: none;
      background-color: $menu_ul_color;
      padding: 1px 0;
      position: relative;

      a {
        font-size: 12px;
        color: $menu_hover_color;
        height: auto;
        min-height: 18px;
        line-height: 1.1;
        padding: 5px 0 5px 28px;
      }

      li {
        float: none;
        background-color: $menu_ul_color;
        padding: 0;

        a {
          font-size: 12px;
           color: $menu_hover_color;
        }
      }
    }

    &:hover ul, &.over ul { // last rule if for ie6 which supports :hover only for <a>, see menus.js
      visibility: visible;
    }
  }
  
  > ul > li {
    padding: 0 0.37em;
    &:hover > a {
      text-decoration: underline;
    }
  }
}

#quick_switch
{
  position: absolute;
  left: 30px;
  padding-top: 2px;
  line-height: 1.8em;
  height: 1.8em;

  .qck_sw {
    margin: 0 8px 0 0;
    padding-top: 6px;
    
    .picto:hover {
      background-color: #ffdf96;
      box-shadow: 0 0 8px #fff;
    }
  }
}
