@import "blob";

@import "common_interface_images";

/*
 * Regroup here all picto backgrounds that are used only in mobile version
 * (so that we keep the css files as small as possible)
 */

/* BORDERS & CO */

#mobile_home, .logo_mini {
  background: url(datauri('/static/images/logo_mini.png')) no-repeat 0;
}

/* ACTION PICTOS */
/* only few are used in mobile interface
 * some could be used via articles, but as it is a rare case, we then directly call the image */

.action_edit span, .action_edit, .c2cui_picto.action_edit {
  background: url(c2chash('/static/images/picto/edit.png')) no-repeat 0;
}

.action_list span, .action_list, .c2cui_picto.action_list, .picto_list {
  background: url(c2chash('/static/images/picto/list.png')) no-repeat 0;
}

.action_filter span, .action_filter, .action_query, .c2cui_picto.action_filter, #google_search_submit, #q, #_q,
.image_list a.view_original, #lightbox_view_original {
  background: url(c2chash('/static/images/picto/search.png')) no-repeat 0;
}

.action_delete {
  background: url(c2chash('/static/images/picto/delete.png')) no-repeat 0;
}

.action_del_light {
  background: url(c2chash('/static/images/picto/delete_light.png')) no-repeat 0;
}

.action_protect {
  background: url(c2chash('/static/images/picto/protect.png')) no-repeat 0;
}

.action_unprotect {
  background: url(c2chash('/static/images/picto/unprotect.png')) no-repeat 0;
}

.action_merge {
  background: url(c2chash('/static/images/picto/merge.png')) no-repeat 0;
}

.action_rss, .action_rss_new, .picto_rss {
  background: url(c2chash('/static/images/picto/rss.png')) no-repeat 0;
}

.action_up {
  background: url(c2chash('/static/images/picto/up.png')) no-repeat 0;
}

.action_people {
  background: url(c2chash('/static/images/picto/people.png')) no-repeat 0;
}

.action_print {
  background: url(c2chash('/static/images/picto/print.png')) no-repeat 0;
}

.action_report {
  background: url(c2chash('/static/images/picto/report.png')) no-repeat 0;
}

.action_help {
  background: url(c2chash('/static/images/picto/help.png')) no-repeat 0;
}

.action_informations, .picto_info {
  background: url(c2chash('/static/images/picto/informations.png')) no-repeat 0;
}

.action_description {
  background: url(c2chash('/static/images/picto/description.png')) no-repeat 0;
}

.action_kml {
  background: url(c2chash('/static/images/picto/gearth.png')) no-repeat 0;
}

.action_json {
  background: url(c2chash('/static/images/picto/json.png')) no-repeat 0;
}

.action_cc {
  background: url(c2chash('/static/images/picto/cc.png')) no-repeat 0;
}

.picto_tools {
  background: url(c2chash('/static/images/picto/tools_mini.png')) no-repeat 0;
}
