@import "blob";

.popup_content .x-window-body {
  position:relative;
  top: 0;
  left: 0;
  width: 400px;
  background-color: white;
  padding: 5px;

  h3 {
    margin: 0 30px 0 0;
    padding: 0;
    border: 0;
    height: auto;
    line-height: 1.1em;
    font-size:1.1em;
    overflow: hidden;
    border: 0;
    padding: 0;
  }

  &.external h3 {
    margin: 6px 82px 0px 3px;
    height: 34px;
  }

  .article_title_img {
    margin: 0 0.3em 0 0;
  }

  .popup_desc {
    display: block;
    margin-bottom: 3px;
    padding-right: 2px;
    text-align: justify;
    overflow: auto;
  }

  &.external .popup_desc {
    padding: 0 4px 0 4px;
  }
}

#popup_logo {
  position:absolute;
  top: 0px;
  left: 318px;

  img {
    border: 0;
  }
}

.popup_slideimages {
  display: inline;
  clear: none;
  float: left;
  margin: 2px 4px 1px 0;
  padding: 0;
  border: 0;
  width: 120px;
  height: 120px;

  li {
    position: absolute;
    display: block;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
  
    img {
      margin: 0;
      padding: 0;
      display: block;
      max-width: 120px;
      max-height: 120px;
    }
  }
}

.popup_content .x-window-body ul.data
{
 margin: 0 0 5px 0;
}

.popup_content .x-window-body ul .section_subtitle
{
 font-size: .9em;
}

.popup_content .x-window-body h4
{
 clear: left;
 text-align: left;
 padding: 0 18px 0 5px;
 margin-top: 5px;
 height: 1.3em;
 line-height: 1.3em;
 overflow: hidden;
 font-size: 1em;
 font-weight: normal;
 font-style: italic;
 background-color: #E8E8E8;
}

.popup_content .x-window-body h4 span
{
 float: left;
}

.popup_content .x-window-body #popup_menu
{
 float: right;
 margin-right: 18px;
}
.popup_content .x-window-body #popup_menu .picto
{
 margin-left: 12px;
 cursor: pointer;
 vertical-align: top;
}


.popup_content .x-window-body .title2.htext
{
  font-size: 1em;
  font-style: normal;
  font-weight: bold;
  color: #FF9933;
  text-decoration: none;
  cursor: pointer;
}

.popup_content .x-window-body ul.children_docs
{
 clear: left;
 margin: 0;
 padding: 0 3px 0 0;
}

.popup_content .x-window-body .children_docs li
{
 margin: 0 0 0 18px;
}

p#popup_link
{
 position:absolute;
 top: 284px;
 left: 0;
 height: 16px;
 width: 100%;
 line-height: 16px;
 margin: 0;
 padding: 0;
 background-color: #E8E8E8;
 font-size: 1em;
 text-align: center;
 font-style: italic;
 overflow: hidden;
/* -moz-border-radius-bottomleft: 16px;
 -moz-border-radius-bottomright: 16px;*/ 
}

.popup_content .x-window-body .external p#popup_link
{
 -moz-border-radius-bottomleft: 0;
 -moz-border-radius-bottomright: 0;
}

.popup_content .x-window-body .more_text
{
 font-size: 0.9em;
}

.popup_content .x-window-body .section_subtitle
{
 display: inline;
 font-style: italic;
 font-weight: bold;
 color: #FF9933;
}


/* Popup format : mixed */

.popup_content .x-window-body .format_mixed div.popup_desc
{
 height: 123px;
}
.popup_content .x-window-body .format_mixed div.popup_desc.small
{
 height: 34px;
}
.popup_content .x-window-body .format_mixed .popup_list
{
 max-height: 102px;
}
.popup_content .x-window-body .format_mixed .popup_list.large
{
 max-height: 168px;
}
#popup_menu_mixed
{
 visibility: hidden;
}


/* Popup format : images */

.popup_content .x-window-body .format_images div.popup_desc
{
 margin-bottom: 0;
 height: 244px;
}
.format_images .popup_slideimages
{
 margin: 0 4px 0 0;
 padding: 0;
 border: 0;
 width: 250px;
 height: 244px;
}
.format_images .popup_slideimages li img
{
 max-width: 250px;
 max-height: 244px;
}
.popup_content .x-window-body .format_images .popup_list,
.popup_content .x-window-body .format_images .popup_list_title
{
 display: none;
}
#popup_menu_images
{
 visibility: hidden;
}


/* Popup format : text */

.popup_content .x-window-body .format_text div.popup_desc
{
 height: 241px;
}
.popup_content .x-window-body .format_text .popup_list,
.popup_content .x-window-body .format_text .popup_list_title
{
 display: none;
}
#popup_menu_text
{
 visibility: hidden;
}


/* Popup format : list */

.popup_content .x-window-body .format_list div.popup_desc
{
 display: none;
}
.popup_content .x-window-body .format_list .popup_list
{
 max-height: 225px;
 height: 225px;
}
#popup_menu_list
{
 visibility: hidden;
}
