@import "blob";

/* inlined, so we can concatenate with other stylesheets and avoid an extra request */
@media print {

* {
  margin:0;
  padding:0;
  float: none;
}

body {
  background: white;
}

a {
  text-decoration: none;
}
a.external_link {
    padding:0;
}
p {
  clear: none !important;
  float: none !important;
}

#banner_middle,
#pub,
#menu,
#nav_edit,
#nav_tools,
#nav_anchor,
#nav_share,
#nav_space,
#nav_news,
#footer_border_left,
#footer_border_right,
#footer_partners,
.ombre_haut,
.ombre_bas,
.splitter,
.action_toggle,
.switch_lang,
.olControlPanZoomBar,
.pages_navigation,
.add_content,
#img_welcome,
.home_title_right,
#fake_clear,
.pages_navigation,
.whatsnew_controls,
#path,
#map_container,
#outings_section_container,
#images_section_container,
#buy_books_section_container,
.articles_content #data_section_container,
#associated_docs_section_container,
.article_title_img,
#header,
#tip_routes,
.linked_elt img,
#banner_logo img, /* supression du logo C2C*/
#license_box, /* supression de : "Le contenu de cette page est disponible sous licence ..."*/
#outings_section_container .children_docs, /* liste de sorties associées */
#annex_section_container, /* articles en annexe de certains documents */
#associated_docs_section_container,
.users_content #contributions_section_container,
.toc_link,
.default_text,
.translate_button,
.no_print,
.embedded_ppt_pdf,
.empty_content,
.section .section_subtitle.no_print,
.tips, .cc, .go_up, .title .picto,
.list_link, #weather_box_title, #weather_box,
form.search, .sbox,
.list_header, .list_footer, .pages_navigation, .list_form,
/* routes ordered by activity */
#skitouring_routes .picto,
#snow_ice_mixed_routes .picto,
#rock_climbing_routes .picto,
#ice_climbing_routes .picto,
#hiking_routes .picto,
#mountain_climbing_routes .picto,
/* carto */
#ext-gen40, #c2c_layers-xtree, /* left tree panel */
#emb_layer_select, /* panel to change layers */
.olControlOverviewMapMaximizeButton, .olControlPanZoom, /* openlayers controls */
.gpControlPermanentLogoActive,
/* lightbox, modalbox */
#lightbox, #overlay, #MB_overlay, #MB_window,
/* embedded videos */
.video,
/* do not print "personal images will soon be deprecated in collaborative documents" */
.img_warning figcaption
{
  display: none !important;
  clear: none !important;
}

/* carto */
.x-panel-tbar, .x-window {
  display: none !important;
}

.x-panel-body {
  border: none !important;
}
/* fin carto */

.license_box {
  margin: 0 !important;
  padding: 0 !important;
}

.doc_infos {
  display: block;
  padding-top: 0.6em;
}

.article_titre_bg
{
  display: none ;
  clear: none;
}

.summits_content #routes_tbg
{
  display: block;
  clear: both;
  border: 0;
}


/* FLOAT BUG */
#home_left_content,
#home_right_content,
.latest,
#content_box,
.content_article,
#wrapper_context,
#float_left,
.title, .title a,
#article_gauche_5050,
#article_droite_5050,
#article_gauche_carte,
#article_gauche_boxs,
#article_infos_titre,
#image_list,
.article .linkst,
.article,
.home_title,
.article_contenu,
body, html, #holder,
.article_title,
.content_article .section_subtitle,
#banner_logo,
#description_section_container,
#map_container_section_container,
#data_section_container,
#routes_section_title,
#routes_section_container,
#images_section_container,
#license_box,
#ss_association,
.linked_elt
{
  width: auto !important;
  margin: 0 !important;
  float: none !important;
  overflow: visible !important;
  position: relative !important;
  height: auto !important;
  min-width: 0;
}
.article_infos_titre_contenu {
  clear:none;
}
.content_article {
  border: 0;
}

.content_article .article {
  min-height: 0;
}

#banner_logo {
  position: absolute;
  top:5px;
  left: 5px;
}
#banner_logo img {
  border: 0;
  clear: both;
}

.article_title {
  margin: 20px 0 15px 5px;
  padding: 0;
  font-size: 20px;
}

#data_section_container .section_subtitle {
  color: orange;
  display: inline;
}

table.list {
  text-align: left;
  width: 100%;
}

/* on cale le reste a gauche */
.content_article {
  text-align: left !important; 
}

/* bloc activité, orientation, altitude,cotation, etc... calé en haut a droite */
#article_gauche_5050 {
  display: block;
  padding: 20px 0 0 4% ! important; 
  clear: right !important;
  float: right! important; 
  width: 33% ! important; 
}
#description_section_container {
  margin-top: 1em !important; 
}
#description_section_container .section_subtitle {
  color: orange;
  display: block !important;
  padding-top: 12px !important; 
}

.assoc_img {
  display: block !important;
  width: auto !important;
  height: auto !important;
  background: none !important;
  padding: 0 !important;
}
.assoc_img span {
  display: block !important;
  color: orange;
  font-weight: bold;
}
.printonly {
  display: inline-block !important;
}

ul.data, .all_associations
{
  margin-bottom: 1em;
}

.linked_elt {
  clear: left !important;
}
.linked_elt a {
  color: black !important;
}

.linked_elt {
  padding-left: 0;
  &.level2 {
    padding-left:20px;
  }
  &.level3 {
    padding-left:40px;
  }
}

ul.children_docs 
{
  padding: 0;
}

ul.children_docs li
{
  list-style-image: none;
}

table.toc
{
  background-color: #FFFFFF;
}
table.toc.embedded_left
{
  border: 0;
}

.articles_content h2.htext
{
  margin-top: 2em;
  border-top: 0;
}

.embedded_left #toctitle
{
  text-align: left;
}

ul.toc a
{
  color: black;
}

img.embedded_right
{
  margin: 5px 0px 1.5em 4%;
}
.articles_content img.embedded_right
{
  margin: 5px 0px 10px 15px;
}

#footer_cc_text *
{
  display:none;
}

#disclaimer
{
  display:block;
}

#footer_cc
{
  margin: 0;
  padding: 0;
  left:0;
  bottom:0;
  font-variant: normal;
  font-style: italic;
  color: #AAAAAA;
}

#footer
{
  background: none;
  height: 1.4em;
  margin: 0 !important;
  font-size: 0.9em;
}

.qrcode
{
  display: block !important;
  float: right;
}

/* display url for external links */
.external_link:after {
  content: " [" attr(href) "]";
  font-size: 0.8em;
}

/* avoid breaking images or map */
#map_container_section_container, .img_box {
  page-break-inside: avoid;
}

/* for some picto, we print title value instead:
   - background images are usually not printed by browsers
   - sep class is used to display separator */
.picto.printfriendly {
  width: auto;
}
.picto.printfriendly:after {
  content: attr(title);
}
.picto.printfriendly.sep:before {
  content: " - ";
}

} /* end @media */
