@import "blob";

@import "common_interface_images";

/*
 * Regroup here all picto backgrounds that are used only in standard version
 * (so that we keep the mobile css as small as possible)
 */

/* MISC */

#order li {
  background: url(datauri('/static/images/picto/drag.gif')) no-repeat 5px;
}

.form-row .fieldname {
  background: transparent url(datauri('/static/images/picto/help2.png')) no-repeat scroll 0 6px;
}

/* BORDERS & CO */

.nav_box_content {
  background: url(datauri('/static/images/bg_nav.png')) repeat-x bottom left;
}

#banner_logo {
  background: url(datauri('/static/images/logo.png')) no-repeat 0;
}

#facebook_logo {
  background: url(datauri('/static/images/facebook.png')) no-repeat 0;
}

#twitter_logo {
  background: url(datauri('/static/images/twitter.png')) no-repeat 0;
}

#googleplus_logo {
  background: url(datauri('/static/images/googleplus.png')) no-repeat 0;
}

.ombre_haut_corner_right {
  background: url(datauri('/static/images/outil_right_top.gif')) no-repeat 0;
}

.ombre_haut_corner_left {
  background: url(datauri('/static/images/outil_left_top.gif')) no-repeat 0;
}

.ombre_bas_corner_right {
  background: url(datauri('/static/images/outil_right_bottom.gif')) no-repeat 0;
}

.ombre_bas_corner_left {
  background: url(datauri('/static/images/outil_left_bottom.gif')) no-repeat 0;
}

.ombre_haut_corner_left.hl {
  background: url(datauri('/static/images/outil_left_top_hl.gif')) no-repeat 0;
}

.ombre_bas_corner_left.hl {
  background: url(datauri('/static/images/outil_left_bottom_hl.gif')) no-repeat 0;
}

#nav_anchor_top, #nav_tools_top, #nav_license_top {
  background: url(datauri('/static/images/menu_gauche_haut.gif')) no-repeat 0;
}

#nav_anchor_down, #nav_tools_down, #nav_license_down {
  background: url(datauri('/static/images/menu_gauche_bas.gif')) no-repeat 0;
}

#wizard_button_top {
  background: url(datauri('/static/images/wizard_top.gif')) no-repeat 0;
}

#wizard_button_down {
  background: url(datauri('/static/images/wizard_bottom.gif')) no-repeat 0;
}

.nav_box_top {
  background: url(datauri('/static/images/bg_nav_top.png')) no-repeat 0;
}

.nav_box_top.small {
  background: url(datauri('/static/images/bg_nav_top_small.png')) no-repeat 0;
}

.nav_box_down {
  background: url(datauri('/static/images/bg_nav_bottom.png')) no-repeat 0;
}

#nav_edit li a:link, #nav_edit li a:visited, #nav_edit li div {
  background: url(datauri('/static/images/menu14_1.png')) no-repeat 0;
}

#nav_edit li a:hover, #nav_edit li div:hover, #nav_edit li.active_tab a {
  background: url(datauri('/static/images/menu14_2.png')) no-repeat 0;
}

#footer_border_left {
  background: url(datauri('/static/images/footer_border_left.gif')) no-repeat 0;
}

#footer_border_right {
  background: url(datauri('/static/images/footer_border_right.gif')) no-repeat 0;
}

.ombre_haut {
  background-image: url(datauri('/static/images/ombre_haut.gif'));
}

.ombre_bas {
  background-image: url(datauri('/static/images/ombre_bas.gif'));
}

.cc_gen {
  background: url(datauri('/static/images/cc_gen.png')) no-repeat 0;
}

.cc_gen.lang_fr {
  background: url(datauri('/static/images/cc_genfr.png')) no-repeat 0;
}

#paypal-button {
  background: url(datauri('/static/images/paypal-button.png')) no-repeat 0;
}

#pp_button_mini {
  background: url(datauri('/static/images/paypal.png')) no-repeat 0;
}

/* kept sprited */
span.share_bookmark {
  background-image: url(datauri('/static/images/sharebookmark.png'));
}

#splitter_arrow {
  background: url(datauri('/static/images/splitterl.gif')) no-repeat 0;
}

#splitter_arrow.maximize {
  background: url(datauri('/static/images/splitterr.gif')) no-repeat 0;
}

/* ACTION PICTOS */
/* action pictos below are only used in standard interface */

.action_edit span, .action_edit, .c2cui_picto.action_edit, .image_list a.edit_image {
  background: url(datauri('/static/images/picto/edit.png')) no-repeat 0;
}

.action_list span, .action_list, .c2cui_picto.action_list, .picto_list {
  background: url(datauri('/static/images/picto/list.png')) no-repeat 0;
}

.action_filter span, .action_filter, .action_query, .c2cui_picto.action_filter, #google_search_submit, #q, #_q,
.image_list a.view_original, #lightbox_view_original {
  background: url(datauri('/static/images/picto/search.png')) no-repeat 0;
}

.action_delete {
  background: url(datauri('/static/images/picto/delete.png')) no-repeat 0;
}

.action_del_light {
  background: url(datauri('/static/images/picto/delete_light.png')) no-repeat 0;
}
.action_protect {
  background: url(datauri('/static/images/picto/protect.png')) no-repeat 0;
}

.action_unprotect {
  background: url(datauri('/static/images/picto/unprotect.png')) no-repeat 0;
}

.action_merge {
  background: url(datauri('/static/images/picto/merge.png')) no-repeat 0;
}

.action_up {
  background: url(datauri('/static/images/picto/up.png')) no-repeat 0;
}

.action_people {
  background: url(datauri('/static/images/picto/people.png')) no-repeat 0;
}

.action_print {
  background: url(datauri('/static/images/picto/print.png')) no-repeat 0;
}

.action_report {
  background: url(datauri('/static/images/picto/report.png')) no-repeat 0;
}

.action_help {
  background: url(datauri('/static/images/picto/help.png')) no-repeat 0;
}

.action_description {
  background: url(datauri('/static/images/picto/description.png')) no-repeat 0;
}

.action_kml {
  background: url(datauri('/static/images/picto/gearth.png')) no-repeat 0;
}

.action_json {
  background: url(datauri('/static/images/picto/json.png')) no-repeat 0;
}

.action_cc {
  background: url(datauri('/static/images/picto/cc.png')) no-repeat 0;
}

.picto_tools {
  background: url(datauri('/static/images/picto/tools_mini.png')) no-repeat 0;
}
