body {
 margin:0;
} 

#gp_content {
 background-color: white;
 padding: 0;
 height:400px;
 width:360px;
 border: 1px solid #ddd;
}

#gp_content h3 {
 margin: 10px 82px 10px 3px;
 min-height: 35px;
 font-size:1em;
 padding-left: 20px;
}

#gp_content h3.gp_summits {
 background: url(/static/images/modules/summits_mini.png) no-repeat;
}

#gp_content h3.gp_sites {
 background: url(/static/images/modules/sites_mini.png) no-repeat;
}

#gp_content h3.gp_huts {
 background: url(/static/images/modules/huts_mini.png) no-repeat;
}

#gp_content h4 {
 padding-left: 5px;
 font-size: 12px;
 font-weight: normal;
 font-style: italic;
}

#gp_content p {
 padding-left: 5px;
 margin-bottom: 5px;
}

#gp_logo {
 position:absolute;
 top: 5px;
 left: 279px;
}

#gp_logo img {
 border:0;
}

#gp_content ul.children_docs {
 margin: 5px 0 0 0;
 padding-left:0;
 max-height: 302px;
 overflow: auto;
}

#gp_content .children_docs li {
 margin: 0 0 0 18px;
}

#gp_link {
 height: auto;
 margin: 0;
 padding: 5px 5px 5px 5px;
 background-color: #eee;
 text-align: center;
}

.more_text {
 font-size: 0.9em;
}

.section_subtitle {
 display: inline;
 font-style: italic;
}
