

html, body, #holder
{
  min-width:480px;
}

#header
{
  height: auto;
  margin: 0;
}

#banner_logo
{
  width: 82px;
  height: 40px;
  left: 0;
  top: 10px;
  background-position: -130px -226px;
}

#banner_middle
{
  height:auto;
  margin: 0 0 0 84px;
}

#pub
{
  display: none;
}

#menu
{
  margin: 0 1px;
}

#menu_up
{
  min-height: 50px;
}

div#quick_switch
{
  width: 72px;
  left:8px;
}

#menu_content
{
  padding-left:72px;
}

#path
{
  left: 1px;
}

#content_box
{
  margin-bottom: 20px;
}

.clearing
{
  padding: 5px 1px;
}

.wide h1 .article_title_img
{
  margin-left: 0;
}

.article_title
{
  font-size: 20px;
}
.wide h1 .article_title
{
  padding-left: 32px;
}

#nav_space
{
  width: 201px;
}
.wide #nav_space
{
  width: 28px;
}

#nav_edit, #nav_anchor, #nav_news, #nav_about, #nav_prepare, #nav_toolbox, #nav_tools, #wizard_button, #nav_buttons, #nav_figures, #nav_license, #nav_share
{
  padding-left: 1px;
}
.wide #nav_edit
{
  width: 200px;
}
.wide #nav_anchor li, .wide #nav_tools li, .wide #nav_license li, .wide #wizard_button li
{
  width: auto;
}
.wide #nav_edit li.active_tab
{
  width: 200px;
}

#wrapper_context
{
  padding-right: 0;
}
#wrapper_context.no_nav
{
  padding-left: 0;
}

#home_left_content
{
  width: 100%;
  padding-right: 0;
  min-height: 0;
}

#home_right_content
{
  width: 100%;
  float: left;
  padding-top: 0;
}

.home .article
{
  padding-bottom: 0;
}

.content_article .article
{
  padding-right: 4px;
  margin-left: 4px;
}

#data_section_container .col_66
{
  clear: both;
  width: 100%;
}
#data_section_container .col_33
{
  width: 49.5%;
}
#data_section_container .col
{
  clear: left;
}
.summits_content #data_section_container .col,
.routes_content #data_section_container .col
{
  float: right;
  clear: right;
  margin-right: 0;
}

.article_contenu .col_left, .article_contenu .col , .article_contenu .col_right,
#editform .article_gauche_5050, #editform .article_droite_5050
{
  float: left;
  clear: both;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.warning_message, .important_message, .global_form_error, .preview_warning, .front_message
{
  width: auto !important;
}

.important_message, .global_form_error, .preview_warning, .mandatory_fields_warning
{
  padding-left: 30px;
  padding-right: 0;
  background-position: 0 50%;
}

.warning_message
{
  padding-left: 44px;
  padding-right: 8px;
  background-position: 6px 50%;
}

.content_article textarea
{
  width: 100%;
}
input.long_input
{
  width: 99%;
}

.edit-tips
{
  margin-left: 0;
}

.extraheight, #_conditions_levels
{
  width: 100% !important;
  height: auto;
}

#level_place, #level_comment
{
  width: 50%;
}

#level_snow_height_soft, #level_snow_height_total
{
  width: auto;
}

.article .title2.htext
{
  margin-left: 0;
}

#routes_summary, ul.children_docs
{
  padding-left: 0;
}

#routes_summary .list_link
{
  float: right;
}

#fields_tooltip
{
  left: 0;
  top: 0;
  padding: 4px;
  margin: 0;
  max-width: auto;
}

#punwrap
{
  margin-left: 0;
  margin-right: 0;
}

.pun th
{
  overflow: hidden;
}

#punviewtopic .article_title
{
  font-size: 20px;
}

div.postleft
{
  width: 100%;
}
div.postleft dl
{
  padding-top: 2px;
}
div.postleft dt, div.postleft dd
{
  float: left;
  padding-bottom: 4px;
}
div.postleft dd
{
  margin: 0.1em 0 0 1em;
  line-height: 1.3em;
}
div.postleft dd.postavatar
{
  display: none;
}

div.postright
{
  float: left;
}
div.postright, div.postfootright
{
  border-left-width: 0;
}

div.postmsg h4
{
  margin-bottom: 0.4em;
}
.pun blockquote, #article blockquote, div.codebox
{
  margin: 5px 0.4em 0.4em 0.4em;
  padding: 6px;
}

div.linkst .conl, div.linksb .conl, div.postlinkst .conl, div.postlinksb .conl
{
  width: 8em;
}
div.postlinkst .conr, div.postlinksb .conr
{
  width: 8em;
}
.linkst ul, .linksb ul, .postlinkst ul, .postlinksb ul
{
  margin-left: 8em;
}

.qjump select
{
  width: auto;
}

.pun .txtarea
{
  width: 100%;
}

.pun .block .conl, .pun .block .conr
{
  width: 100%;
  padding: 0;
  float: left;
  clear: left;
  text-align: left;
}

#footer
{
  margin: 0 1px;
}
#footer_cc
{
  left: 0;
  margin-left: 0;
  padding-left: 10px;
}
#footer_partners
{
  left: 0;
  position: relative;
}
