
/* ice climbing style for portals */

.article .title2.htext,
.content_article .section_subtitle,
.add_content, .add_content a,
.form-row .fieldname, #toolform .fieldname
#article_infos_titre, .article_infos_titre,
.home_title_text a, .nav_box_title_text a,
.nav_box_title, .wizard_title,
.link_nav_news, .home_link_list a
{
  color: #0000FF;
}

.htext .hcolor
{
  color: #0000FF !important;
}

#splitter.hl, div.selected_image
{
  border-color: #0000FF;
}

a.close_btn, div.selected_image,
.translate_button a,
#menu_up, #menu_content li,
#wizard_button_content
{
  background-color: #0000FF;
}

#wizard_button_top, #wizard_button_down
{
  display: none;
}

#wizard_button_content
{
  height: auto;
  padding: 5px 0;
  border: 0;
  border-radius:6px 0 0 6px;
  -moz-border-radius:6px 0 0 6px;
  -khtml-border-radius:6px 0 0 6px;
  -webkit-border-radius:6px 0 0 6px;
}

#wizard_button .nav_box_title_text a
{
  color: #ffffff;
}
