
/* ice climbing style for portals */

.article .title2.htext
{
  color: #28aca1;
}

.content_article .section_subtitle
{
  color: #28aca1;
}

#splitter.hl
{
  border-color: #28aca1;
}

.add_content, .add_content a
{
  color: #28aca1;
}

.form-row .fieldname
{
  color: #28aca1;
}

#toolform .fieldname
{
  color: #28aca1;
}

#article_infos_titre, .article_infos_titre
{
  color: #28aca1;
}

a.close_btn {
  background-color: #28aca1;
}

.home_title_text a
{
  color:#28aca1;
}

.nav_box_title, .wizard_title
{
  color:#28aca1;
}

.nav_box_title_text a
{
  color:#28aca1;
}

.link_nav_news
{
  color: #28aca1;
}

div.selected_image
{
  background-color: #28aca1;
  border-color: #28aca1;
}

.htext .hcolor
{
  color: #28aca1 !important;
}

.home_link_list a
{
  color:#28aca1;
}

.translate_button a {
  background-color: #28aca1;
}

#menu_up
{
  background: #28aca1;
}
#menu_content li
{
  background-color: #28aca1;
}
