
/* ice climbing style for portals */

.article .title2.htext,
.content_article .section_subtitle,
.add_content, .add_content a,
.form-row .fieldname, #toolform .fieldname
#article_infos_titre, .article_infos_titre,
.home_title_text a, .nav_box_title_text a,
.nav_box_title, .wizard_title,
.link_nav_news, .home_link_list a
{
  color: #56A9E3;
}

.htext .hcolor
{
  color: #56A9E3 !important;
}

#splitter.hl, div.selected_image
{
  border-color: #56A9E3;
}

a.close_btn, div.selected_image,
.translate_button a,
#menu_up, #menu_content li,
#wizard_button_content
{
  background-color: #7FC2F2;
}

#wizard_button_top, #wizard_button_down
{
  display: none;
}

#wizard_button_content
{
  height: auto;
  padding: 5px 0;
  border: 0;
  border-radius:6px 0 0 6px;
  -moz-border-radius:6px 0 0 6px;
  -khtml-border-radius:6px 0 0 6px;
  -webkit-border-radius:6px 0 0 6px;
}

#wizard_button .nav_box_title_text a
{
  color: #ffffff;
}

/* pictos */


#banner_logo
{
  background-image: url(/static/images/portals/ice_logo.png);
  background-position: 0;
}

.article_title_img
{
  background-image: url(/static/images/portals/ice_modules.png);
}

a.logged_as
{
    background-image: url(/static/images/portals/ice_modules_mini.png);
}

.picto_areas, .picto_articles, .picto_books, .picto_huts, .picto_images,
.picto_maps, .picto_outings, .picto_parkings, .picto_routes, .picto_sites,
.picto_summits, .picto_users, .picto_documents, .picto_products, .picto_portals,
.picto_1, .picto_4, .picto_3, .picto_13, .picto_7, .picto_9, .picto_10, .picto_5,
.picto_8, .picto_11, .picto_12, .picto_6, .picto_2, .picto_14, .picto_15,
.img_module_areas, .img_module_articles, .img_module_books, .img_module_documents, .img_module_huts, .img_module_images, .img_module_portals, .img_module_products,
.img_module_maps, .img_module_outings, .img_module_parkings, .img_module_routes, .img_module_sites, .img_module_summits, .img_module_users
{
  background-image: url(/static/images/portals/ice_modules_mini.png);
}

.action_edit span, .action_edit, .action_list span, .action_list, .action_filter span, .action_filter,
.action_delete, .action_del_light, .action_protect, .action_unprotect, .action_merge, .action_rss, .action_rss_new,
.action_query, .action_create, .action_cancel, .action_back, .action_next, .action_first, .action_last, .action_up, .action_down,
.action_contact, .action_view, .action_print, .action_bookmark, .action_tag,
.action_report, .action_rm, .action_help, .action_informations, .action_description,
.action_comment span, .action_comment, .action_gps, .action_on, .action_off, .action_cc,
.action_json, .action_kml, .action_people,
.picto_rss, .picto_list, .picto_forum, .picto_forums, .picto_info, .picto_tools, .picto_add, .picto_rm,
.picto_open, .picto_open_light, .picto_close, .picto_close_light,
.picto_weather, .picto_snow,
.img_action_search, .img_action_create, .img_action_list, .img_action_mail, .img_action_comment,
.img_action_query, .img_action_edit, .img_action_help, .img_action_informations, .img_action_cc,
.img_action_tools, .img_action_people
{
  background-image: url(/static/images/portals/ice_actions.png);
}

