/* CSS patch for IE 6 */
/* $Id: main.css 1409 2007-08-23 15:00:54Z jbaubort $ */

/**
 * IMAGES GIF
 */
.warning_message
{
  background-image: url(/static/images/ie/warning.gif);
}

.important_message, .global_form_error, .preview_warning, .mandatory_fields_warning
{
  background-image: url(/static/images/ie/important.gif);
}

/* borders and logos sprites */
#banner_logo, #ombre_haut_corner_right, #ombre_haut_corner_left, #ombre_bas_corner_right, #ombre_bas_corner_left,
#nav_anchor_top, #nav_tools_top, #nav_license_top, #nav_anchor_down, #nav_tools_down, #nav_license_down,
#wizard_button_top,
#nav_edit li a, #nav_edit li div, #nav_edit li.active_tab a,
#footer_border_left, #partners a,
.picto.cc-by-sa, .picto.cc-by-nc-nd, .cc_gen, .image_license, .license_mini,
.paypal-button, .pp_button_mini
{
  background-image: url(/static/images/ie/borders_and_logos.gif);
}

.article_title_img
{
  background-image: url(/static/images/ie/modules.gif);
}

.action_edit span, .action_edit, .action_list span, .action_list, .action_filter span, .action_filter,
.action_delete, .action_protect, .action_unprotect, .action_merge, .action_rss, .action_rss_new,
.action_query, .action_create, .action_cancel, .action_back, .action_next, .action_first, .action_last,
.action_contact, .action_view, .action_print, .action_bookmark, .action_tag,
.action_report, .action_help, .action_informations, .action_description,
.action_comment span, .action_comment, .action_gps, .action_on, .action_off,
.picto_rss, .picto_list, .picto_forum, .picto_info, .picto_tools, .picto_open, .picto_close, .picto_add, .picto_rm,
th.order_desc, th.order_asc, #image_list a.view_original, #image_list a.unlink
{
  background-image: url(/static/images/ie/actions.gif);
}

.picto_areas, .picto_articles, .picto_books, .picto_huts, .picto_images, .picto_maps, .picto_outings, .picto_parkings, .picto_routes, .picto_sites, .picto_summits, .picto_users, .picto_documents,
#image_list a.view_details
{
  background-image: url(/static/images/ie/modules_mini.gif);
}

/*
#order li
{
  background: url(/static/images/ie/drag.jpg) no-repeat 5px center;
}
*/

/* MENU PICTO */
.img_module_areas, .img_module_articles, .img_module_books, .img_module_documents, .img_module_huts, .img_module_images,
.img_module_maps, .img_module_outings, .img_module_parkings, .img_module_routes, .img_module_sites, .img_module_summits, .img_module_users, a.logged_as
{
  background-image: url(/static/images/ie/modules_mini.gif);
}

.img_action_search, .img_action_create, .img_action_list, .img_action_mail, .img_action_comment,
.img_action_query, .img_action_edit, .img_action_help, .img_action_informations
{
  background-image: url(/static/images/ie/actions.gif);
}

/* Latest outings decoration */
.activity_hiking, .activity_hiking_light, .activity_ice_climbing, .activity_ice_climbing_light, .activity_mountain_climbing, .activity_mountain_climbing_light, .activity_rock_climbing, .activity_rock_climbing_light, .activity_skitouring, .activity_skitouring_light, .activity_snow_ice_mixed, .activity_snow_ice_mixed_light
{
  background-image: url(/static/images/ie/activities_mini.gif);
}


/**
 * CSS GENERAL
 */

#wrapper_context
{
  position: relative;
  left: -3px;
  width: expression(document.body.clientWidth - 240 + "px");
  padding-right:0;
}
#content_box
{
  margin:0;
}

/* header */
#log
{
  width:310px;
}
#banner_middle
{
  padding-top:5px;
  width: expression(document.body.clientWidth - 740 + "px");
}

/* Navigation */
#wizard_button ul
{
  list-style-image:url(/static/images/ie/plus.gif);
}
#nav_anchor li, #nav_tools li, #wizard_button li
{
  margin: 0;
  padding-left: 6px;
}
#nav_edit li, #nav_anchor li, #nav_tools li, #wizard_button li
{
  margin: 0;
}
#nav_anchor_content, #nav_tools_content, #wizard_button_content, .nav_box_content
{
  padding-top: 3px;
}
#nav_anchor_top, #nav_tools_top, #wizard_button_top, .nav_box_top
{
  margin-bottom: -9px;
}
#nav_anchor_down, #nav_tools_down, #wizard_button_down, .nav_box_down
{
  margin-top: -3px;
}
#wizard_button_down
{
  background: transparent url(/static/images/wizard_bottom.gif) no-repeat scroll 0 0;
}
.nav_box_top
{
  background: transparent url(/static/images/bg_nav_top.png) no-repeat scroll 0 0;
}
.nav_box_down
{
  background: transparent url(/static/images/bg_nav_bottom.png) no-repeat scroll 0 0;
}
.nav_box_content
{
  width: 198px;
}
#nav_anchor_down, #nav_tools_down, #nav_license_down
{
  background: transparent url(/static/images/menu_gauche_bas.gif)  no-repeat scroll 0 0;
}

#nav_about p, #nav_prepare p, #nav_toolbox p, #nav_news p
{
  margin-bottom: 4px;
}
a.link_nav_anchor, a.nav_edit
{
  padding: 2px 0;
  padding-left: 23px;
}

/* NAV EDIT */
#nav_edit
{
  width: 220px;
  z-index: 1;
}
#nav_edit li a:link, #nav_edit li a:visited, #nav_edit li div
{
  width: 192px;
}
#nav_edit li a:hover, #nav_edit li div:hover
{
  width: 193px;
}
#nav_edit li.active_tab a:link, #nav_edit li.active_tab a:visited
{
  width: 193px;
  background-position: -24px -62px;
}

/* Footer */
#footer
{
  margin: 50px 20px 0 20px;
}
#footer_border_right
{
  background: white url(/static/images/footer_border_right.gif) no-repeat scroll right;
}
#footer_partners
{
  height: 80px;
}
#footer_cc_text
{
  width: expression(document.body.clientWidth - 465 + "px");
  overflow-x: auto;
}

/* Divers */
#indicator
{
  width: 150px;
}
#image_list div.image_actions
{
  position: absolute;
  top: 2px;
  left: 2px;
}

#menu
{
  width: expression(document.body.clientWidth - 30);
  margin: 0 15px;
  margin-top: -15px;
}
#menu_up
{
  height:28px;
  padding: 0;
  position: relative;
  text-align: left;
  z-index: 2;
}
#menu_border_left
{
  height:0;
  background: none;
}
#menu_border_right
{
  background: none;
}

#menu_content ul a
{
  display: block;
  height: 23px;
  line-height: normal;
  padding: 5px 0 0 0;
  margin:0;
}
#menu_content ul ul
{
  margin-top: 0;
  position: absolute;
  top:28px;
  background: #D2CABC;
  left: 5px;
  width: 120px;
}
#menu_content ul ul ul
{
  left:149px;
  margin-top: -27px;
  width: 118px;
}
.article_title_img
{
  margin-left: 112px;
}
#menu_content a
{
  display: block;
  height: auto;
  zoom: 1;
  line-height: 1.8;
  padding: 0 2.5em 0 0;
}
#menu_content li
{
  margin: 0;
  padding: 0;
  list-style-type: none;
  float: left;
  display: block;
  background-color: #ff9933;
}
#menu_content li
{
  position: relative;
  margin-right: 15px;
}
#menu_content li li
{
  margin-right: 0;
}
#menu_content li li li
{
  margin-right: 0;
}
#menu_content li a
{
  width: 80px;
}
#menu_content li li a
{
  width: 120px;
}
#menu_content li li li a
{
  height: 22px;
}

.error, .notice, .warning
{
  z-index: 1000;
  position: absolute;
  top: 5px;
  left: 5px;
}

/* home */

#article, #article_content
{
  display: block;
}

#article_content
{
  position: relative;
} 

#article .postlink
{
  margin-right: 15px; 
}

#img_welcome
{
  width: expression(((document.body.clientWidth - 220) / 2 < 250) ? '250px' : 'auto');
}

#img_welcome_text
{
  margin: 0;
}

.img_welcome_text1
{
  margin: 0;
}

.img_welcome_text2
{
  margin: 0;
}

#MB_content input
{
  z-index: 4;
  display: block;
}

#MB_window select
{
    color: black;
}

input.srch_submit
{
  float: left;
  clear: both;
  width: auto;
}

.table_list_odd td
{
  background: #E2DFD8;
}

.table_list_even td
{
  background: white;
}


#preview *
{
  position: relative;
}

.sbox, .context_log_padding
{
  clear: both;
}

ul.dated_changes span
{
  margin-top: 0;
}

ul.listed_changes
{
  margin-left: 22px;
}
ul.listed_changes li
{
  z-index: 30;
}

#article_gauche_carte, .map, #map_container_section_container
{
float: none;
clear: none;
}

#article_droite_boxs input
{
  border:0;
}

#content_article .section_subtitle
{
  margin-right:3px;
}

#data_section_container .section_subtitle
{
  display: inline;
}

input.long_input, #content_article textarea
{
  width: 450px;
}

#conditions_levels_table input {
  width: 200px;
}

#level_place, #level_comment {
  width: 230px;
}

.linked_elt
{
  height:17px;
  padding:0;
  margin: 0 0 0 20px;
}

span.picto
{
  text-indent: 0;
}

.picto.cc-by-sa, .picto.cc-by-nc-nd
{
  width: 88px;
  height: 31px;
}

div#quick_switch
{
  padding-top: 0.5em;
}

#filterform .fieldname
{
  width: 8em;
}

.col_left, .col_right
{
  width: 20em;
}

div.blockpost h2
{
  height: 1.2em;
}
