/* CSS patch for IE7 */
#wrapper_context
{
  position: relative;
  width: expression(document.body.clientWidth - 240 + "px");
}

#content_box
{
  margin:0;
}

/* header */
#banner_middle
{
  padding-top:5px;
  height: auto;
}

#pub
{
  width: 100%;
  max-width:500px;
}

#menu
{
  margin-bottom: 5px;
  margin-top: 0;
}

#splitter
{
  left: 0;
}

.menu_content *
{
  z-index: 12;
}

/* Divers */
#preview *
{
  position: relative;
}

.error, .notice, .warning
{
  z-index: 1000;
  position: absolute;
  top: 5px;
  left: 5px;
}

tr
{
  background: #E2DFD8;
}

#nav_anchor li, #nav_anchor a, #nav_edit li
{
  padding-top: 2px;
}

#pagehistory, .list
{
  width: 98%;
}

.table_list_odd td
{
  background: #E2DFD8;
}

.table_list_even td
{
  background: white;
}

#wizard_button li a
{
  padding-bottom: 4px;
}

#wizard_button .action_create
{
  background: url(/static/images/picto/add.png) no-repeat 1px 1px;
}

#image_list div.image_actions
{
  position: absolute;
  top: 2px;
  left: 2px;
}

/* Footer */
#footer
{
  margin: 50px 15px 0 15px;
}

#footer_border_right
{
  width: 12px;
}

#footer_partners
{
  height: 80px;
}

#footer_partners img
{
  margin-left:0;
  margin-right:10px;
  margin-bottom:-10px;
}

#footer_cc_text
{
  width: expression(document.body.clientWidth - 465 + "px");
  overflow-x: auto;
}

/* home */

.article, .article_content
{
  display: block;
  position: relative;
}

#img_welcome
{
  width: expression(((document.body.clientWidth - 220) / 2 < 250) ? '250px' : 'auto');
}

#img_welcome_text
{
  margin: 0;
}

.img_welcome_text1
{
  margin: 0;
}

.img_welcome_text2
{
  margin: 0;
}

#MB_content input
{
  z-index: 4;
  display: block;
}

#menu_content li li a.ie7m
{
  padding-left: 5px;
}

input.srch_submit
{
  float: left;
  clear: both;
  width: auto;
}

/* Style for Lists */
table.list
{
  width: 100%;
}

div.sbox
{
  width: 100%;
}

#menu_border_left
{
  height:5px;
  background: none;
}

#menu_border_right
{
  background: none;
}

#article_droite_boxs input
{
  border:0;
}

.content_article .section_subtitle
{
  margin-right:0.5em;
}

#data_section_container .section_subtitle
{
  display: inline;
}

.linked_elt
{
  padding:0;
  margin: 0 0 0 20px;
}

span.picto /* don't know why but text-indent=-9999px makes surrounding div disappear */
{
  text-indent:0;
}

div.img_box
{
  width: 180px;
}

div.file_to_upload_categories select
{
  margin-top: 2em;
}
.file_to_upload_info
{
  margin: 0 5px 1px 5px;
}

#customize fieldset
{
  float: none;
}
