#menu
{
  width: auto;
  margin: 0 15px;
}

#menu_border_left
{
  height:0;
}

#menu_up
{
  background: #ff9933;
  border: 1px solid #999;
  -moz-border-radius:8px;
  -khtml-border-radius: 8px;
  -webkit-border-radius: 8px;
}
/* end general menu */

#menu_content
{
  text-align: center;
  padding-left:210px;
}
#menu_content a
{
  text-decoration:none;
  color: #fff;
  font-size:14px;
  font-weight:bold;
}

#menu_content a:hover
{
  text-decoration: underline;
}
#menu_content ul
{
  width: 100%;
  margin: 0 auto;
  padding: 0;
  z-index: 1;
}
#menu_content ul ul
{
  width: 160px;
  position: absolute;
  visibility: hidden;
  border: 1px solid #999;
  border-top: 1px solid #999;
  text-align: left;
  -moz-border-radius:0 0 10px 10px;
  -khtml-border-radius:0 0 10px 10px;
  padding: 2px 0;
  background: #D2CABC;
  margin-left: -40px;
}
#menu_content ul ul ul
{
  position:absolute;
  left:160px;
  margin-top: -30px;
  margin-left: 0;
  padding: 0;
  width: 160px;
  border: 1px solid #999;
  -moz-border-radius:0;
  -khtml-border-radius:0;
}
#menu_content li
{
  margin: 0;
  padding: 0;
  list-style-type: none;
  float: left;
  display: block;
  background-color: #ff9933;
  padding: 0 1.5em 0 0;
}
#menu_content li li
{
  float: none;
  background-color: #D2CABC;
  padding: 1px 0;
}
#menu_content li li li
{
  float: none;
  background-color: #D2CABC;
  padding:0;
}
#menu_content a
{
  display: block;
  height: 1.8em;
  min-height: 26px;
  line-height: 1.8;
  padding: 1px 5px;
}
#menu_content li li a
{
  font-size: 12px;
  color: #716D68;
  padding: 2px 0 0 28px;
}
#menu_content li li li a
{
  font-size: 12px;
  color: #716D68;
  height: 26px;
}
#menu_content ul :hover ul ul
{
  visibility:hidden;
}
#menu_content ul :hover ul :hover ul
{
  visibility:visible;
}
#menu_content li#menulast
{
}
#menu_content li.lilast
{
}
#menu_content a:hover
{
  color: #fff;
}
#menu_content li:hover ul, #menu_content li.over ul
{
  visibility: visible;
}
div#quick_switch
{
  position:absolute;
  left: 30px;
}
div#quick_switch .qck_sw
{
  margin: 0px;
  padding-left: 8px;
}

div#quick_switch img
{
  margin: 0px;
  padding: 0px;
  padding-top: 6px;
}
.clear
{
  clear: both;
  height: 0;
  line-height: 0;
}
/* \*//*/
#menu_content li
{
  float: none;
  display: inline-block;
}
#menu_content li li
{
  display: block;
}
/**/


#menu_content ul ul a:hover
{
  background-color: gray;
}
#menu_content ul ul ul a:hover
{
  background-color: gray;
}


/* MENU PICTO */

/* position: +5px +5px ; */
.img_module_areas, .img_module_articles, .img_module_books, .img_module_documents, .img_module_huts, .img_module_images,
.img_module_maps, .img_module_outings, .img_module_parkings, .img_module_routes, .img_module_sites, .img_module_summits, .img_module_users {
    background: url(/static/images/modules/modules_mini.png) no-repeat;
    }

.img_module_areas
{
  background-position: -3px -3px;
}
.img_module_articles
{
  background-position: -3px -35px;
}
.img_module_books
{
  background-position: -3px -67px;
}
.img_module_documents
{
  background-position: -3px -99px;
}
.img_module_huts
{
  background-position: -3px -132px;
}
.img_module_images
{
  background-position: -3px -163px;
}
.img_module_maps
{
  background-position: -3px -195px;
}
.img_module_outings
{
  background-position: -3px -227px;
}
.img_module_parkings
{
  background-position: -3px -259px;
}
.img_module_routes
{
  background-position: -3px -291px;
}
.img_module_sites
{
  background-position: -3px -323px;
}
.img_module_summits
{
  background-position: -3px -355px;
}
.img_module_users
{
  background-position: -3px -387px;
}

.img_action_search, .img_action_create, .img_action_list, .img_action_mail, .img_action_comment,
.img_action_query, .img_action_edit, .img_action_help {
    background: url("/static/images/picto/actions.png") no-repeat;
    }

/* position: +5px +5px */
.img_action_search
{
  background-position: -3px -670px;
}
.img_action_create
{
  background-position: -3px -3px;
}
/* position: +5px +8px */
.img_action_list
{
  background-position: -3px -414px;
}
.img_action_mail
{
  background-position: -3px -320px;
}
.img_action_comment
{
  background-position: -3px -160px;
}
.img_action_query
{
  background-position: -3px -667px;
}
.img_action_edit
{
  background-position: -3px -292px;
}
.img_action_help
{
  background-position: -3px -350px;
}
