body {
 margin:0;
} 

#gp_content {
 position:relative;
 top: 0;
 left: 0;
 height: 300px;
 width: 400px;
 background-color: white;
 padding: 0;
 border: 1px solid #ddd;
 overflow: hidden;
}

#gp_content h3 {
 margin: 6px 82px 0px 3px;
 height: 34px;
 line-height: 1.1em;
 font-size:1.2em;
 overflow: hidden;
}

#gp_content .article_title_img {
  margin: 0 0.3em 0 0;
}

#gp_logo {
 position:absolute;
 top: 0px;
 left: 318px;
}

#gp_content div.gp_desc {
 display: block;
 margin-bottom: 3px;
 padding: 0 4px 0 4px;
 text-align: justify;
}

#gp_content div.gp_iti {
 max-height: 123px;
 overflow: hidden;
}

#gp_slideimages {
 display: inline;
 clear: none;
 float: left;
 margin: 2px 4px 1px 0;
 padding: 0;
 border: 0;
 width: 120px;
 height: 120px;
}
#gp_slideimages li {
 position:absolute;
 display:block;
 list-style-type:none;
 margin:0px;
 padding:0px;
}
#gp_slideimages li img {
 margin: 0;
 padding: 0;
 display:block;
}

#gp_content ul.data {
 margin: 0 0 5px 0;
}

#gp_content ul .section_subtitle {
 font-size: .9em;
}

#gp_content h4 {
 clear: left;
 text-align: left;
 padding: 0 5px;
 height: 16px;
 line-height: 16px;
 font-size: 1em;
 font-weight: normal;
 font-style: italic;
 background-color: #E8E8E8;
 overflow: hidden;
}

#gp_content h4 span {
 float: left;
}

#gp_content h4 #size_ctrl {
 float: right;
}
#gp_content #size_ctrl .picto {
 margin-left: 1.5em;
 cursor: pointer;
}

#gp_logo img {
 border:0;
}

#gp_content #routes_section_container
{
 max-height: 102px;
 overflow: auto;
}
#gp_content #routes_section_container.full
{
 max-height: 225px;
}

#gp_content .title2.htext
{
  font-size: 1em;
  font-style: normal;
  font-weight: bold;
  color: #FF9933;
  text-decoration: none;
  cursor: pointer;
}

#gp_content ul.children_docs {
 clear: left;
 margin: 0;
 padding: 0 3px 0 0;
}

#gp_content .children_docs li {
 margin: 0 0 0 18px;
}

p#gp_link {
 position:absolute;
 top: 284px;
 left: 0;
 height: 16px;
 width: 394px;
 line-height: 16px;
 margin: 0;
 padding: 0px 3px 0px 3px;
 background-color: #E8E8E8;
 font-size: 1em;
 text-align: center;
 font-style: italic;
 overflow: hidden;
}

.more_text {
 font-size: 0.9em;
}

.section_subtitle {
 display: inline;
 font-style: italic;
}
