body {
 margin:0;
} 

#popup_contentDiv {
 position:relative;
 top: 0;
 left: 0;
 width: 400px;
 background-color: white;
 padding: 0;
}

#popup_contentDiv h3 {
 margin: 0 17px 0 0;
 height: 40px;
 line-height: 1.1em;
 font-size:1.1em;
 overflow: hidden;
}
#popup_contentDiv.external h3 {
 margin: 6px 82px 0px 3px;
 height: 34px;
}

#popup_contentDiv .article_title_img {
  margin: 0 0.3em 0 0;
}

#popup_logo {
 position:absolute;
 top: 0px;
 left: 318px;
}

#popup_contentDiv div.popup_desc {
 display: block;
 margin-bottom: 3px;
 padding-right: 2px;
 text-align: justify;
 height: 241px;
 overflow: auto;
}
#popup_contentDiv.external div.popup_desc {
 padding: 0 4px 0 4px;
}

#popup_contentDiv div.popup_iti {
 height: 123px;
}
#popup_contentDiv div.popup_iti.small {
 height: 34px;
}
#popup_contentDiv div.popup_desc.full {
 margin-bottom: 0;
 height: 244px;
}

.popup_slideimages {
 display: inline;
 clear: none;
 float: left;
 margin: 2px 4px 1px 0;
 padding: 0;
 border: 0;
 width: 120px;
 height: 120px;
}
.popup_desc.full .popup_slideimages {
 margin: 0 4px 0 0;
 padding: 0;
 border: 0;
 width: 250px;
 height: 244px;
}

.popup_slideimages li {
 position:absolute;
 display:block;
 list-style-type:none;
 margin:0px;
 padding:0px;
}
.popup_slideimages li img {
 margin: 0;
 padding: 0;
 display: block;
 max-width: 120px;
 max-height: 120px;
}
.popup_desc.full .popup_slideimages li img {
 max-width: 250px;
 max-height: 244px;
}

#popup_contentDiv ul.data {
 margin: 0 0 5px 0;
}

#popup_contentDiv ul .section_subtitle {
 font-size: .9em;
}

#popup_contentDiv h4 {
 clear: left;
 text-align: left;
 padding: 0 18px 0 5px;
 height: 16px;
 line-height: 16px;
 overflow: hidden;
 font-size: 1em;
 font-weight: normal;
 font-style: italic;
 background-color: #E8E8E8;
 -moz-border-radius-bottomleft: 16px;
 -moz-border-radius-bottomright: 16px;
}
#popup_contentDiv.external h4 {
 -moz-border-radius-bottomleft: 0;
 -moz-border-radius-bottomright: 0;
}

#popup_contentDiv h4 span {
 float: left;
}

#popup_contentDiv #size_ctrl {
 float: right;
 margin-right: 18px;
}
#popup_contentDiv #size_ctrl .picto {
 margin-left: 18px;
 cursor: pointer;
 vertical-align: top;
}

#popup_logo img {
 border:0;
}

#popup_contentDiv .title2.htext
{
  font-size: 1em;
  font-style: normal;
  font-weight: bold;
  color: #FF9933;
  text-decoration: none;
  cursor: pointer;
}

#popup_contentDiv ul.children_docs {
 clear: left;
 margin: 0;
 padding: 0 3px 0 0;
}

#popup_contentDiv .children_docs li {
 margin: 0 0 0 18px;
}

p#popup_link {
 position:absolute;
 top: 284px;
 left: 0;
 height: 16px;
 width: 100%;
 line-height: 16px;
 margin: 0;
 padding: 0;
 background-color: #E8E8E8;
 font-size: 1em;
 text-align: center;
 font-style: italic;
 overflow: hidden;
}

#popup_contentDiv .more_text {
 font-size: 0.9em;
}

#popup_contentDiv .section_subtitle {
 display: inline;
 font-style: italic;
}
