body
{
 margin:0;
} 

#popup_contentDiv
{
 position:relative;
 top: 0;
 left: 0;
 width: 400px;
 background-color: white;
 padding: 0;
}

#popup_contentDiv .x-panel-tbar
{
 position: relative;
 top: 36px;
 margin-top: -46px;
}

#popup_contentDiv .x-panel-tbar .x-toolbar > table
{
 float: right;
}
#popup_contentDiv .x-panel-tbar .x-toolbar > table > tbody > tr > td
{
 display: block;
 float: right;
 clear: right;
}

#popup_contentDiv .x-panel-body
{
 background: none;
}

#popup_contentDiv h3
{
 margin: 0 30px 0 0;
 padding: 0;
 border: 0;
 height: auto;
 line-height: 1.1em;
 font-size:1.1em;
 overflow: hidden;
 border: 0;
 padding: 0;
}
#popup_contentDiv.external h3
{
 margin: 6px 82px 0px 3px;
 height: 34px;
}

#popup_contentDiv .article_title_img
{
  margin: 0 0.3em 0 0;
}

#popup_logo
{
 position:absolute;
 top: 0px;
 left: 318px;
}

#popup_contentDiv div.popup_desc
{
 display: block;
 margin-bottom: 3px;
 padding-right: 2px;
 text-align: justify;
 overflow: auto;
}
#popup_contentDiv.external div.popup_desc
{
 padding: 0 4px 0 4px;
}

.popup_slideimages
{
 display: inline;
 clear: none;
 float: left;
 margin: 2px 4px 1px 0;
 padding: 0;
 border: 0;
 width: 120px;
 height: 120px;
}

.popup_slideimages li
{
 position: absolute;
 display: block;
 list-style-type: none;
 margin: 0px;
 padding: 0px;
}
.popup_slideimages li img
{
 margin: 0;
 padding: 0;
 display: block;
 max-width: 120px;
 max-height: 120px;
}

#popup_contentDiv ul.data
{
 margin: 0 0 5px 0;
}

#popup_contentDiv ul .section_subtitle
{
 font-size: .9em;
}

#popup_contentDiv h4
{
 clear: left;
 text-align: left;
 padding: 0 18px 0 5px;
 margin-top: 5px;
 height: 1.3em;
 line-height: 1.3em;
 overflow: hidden;
 font-size: 1em;
 font-weight: normal;
 font-style: italic;
 background-color: #E8E8E8;
}

#popup_contentDiv h4 span
{
 float: left;
}

#popup_contentDiv #popup_menu
{
 float: right;
 margin-right: 18px;
}
#popup_contentDiv #popup_menu .picto
{
 margin-left: 12px;
 cursor: pointer;
 vertical-align: top;
}

#popup_logo img
{
 border:0;
}

#popup_contentDiv .title2.htext
{
  font-size: 1em;
  font-style: normal;
  font-weight: bold;
  color: #FF9933;
  text-decoration: none;
  cursor: pointer;
}

#popup_contentDiv ul.children_docs
{
 clear: left;
 margin: 0;
 padding: 0 3px 0 0;
}

#popup_contentDiv .children_docs li
{
 margin: 0 0 0 18px;
}

p#popup_link
{
 position:absolute;
 top: 284px;
 left: 0;
 height: 16px;
 width: 100%;
 line-height: 16px;
 margin: 0;
 padding: 0;
 background-color: #E8E8E8;
 font-size: 1em;
 text-align: center;
 font-style: italic;
 overflow: hidden;
/* -moz-border-radius-bottomleft: 16px;
 -moz-border-radius-bottomright: 16px;*/ 
}

#popup_contentDiv.external p#popup_link
{
 -moz-border-radius-bottomleft: 0;
 -moz-border-radius-bottomright: 0;
}

#popup_contentDiv .more_text
{
 font-size: 0.9em;
}

#popup_contentDiv .section_subtitle
{
 display: inline;
 font-style: italic;
 font-weight: bold;
 color: #FF9933;
}


/* Popup format : mixed */

#popup_contentDiv.format_mixed div.popup_desc
{
 height: 123px;
}
#popup_contentDiv.format_mixed div.popup_desc.small
{
 height: 34px;
}
#popup_contentDiv.format_mixed .popup_list
{
 max-height: 102px;
}
#popup_contentDiv.format_mixed .popup_list.large
{
 max-height: 168px;
}
#popup_menu_mixed
{
 visibility: hidden;
}


/* Popup format : images */

#popup_contentDiv.format_images div.popup_desc
{
 margin-bottom: 0;
 height: 244px;
}
.format_images .popup_slideimages
{
 margin: 0 4px 0 0;
 padding: 0;
 border: 0;
 width: 250px;
 height: 244px;
}
.format_images .popup_slideimages li img
{
 max-width: 250px;
 max-height: 244px;
}
#popup_contentDiv.format_images .popup_list,
#popup_contentDiv.format_images .popup_list_title
{
 display: none;
}
#popup_menu_images
{
 visibility: hidden;
}


/* Popup format : text */

#popup_contentDiv.format_text div.popup_desc
{
 height: 241px;
}
#popup_contentDiv.format_text .popup_list,
#popup_contentDiv.format_text .popup_list_title
{
 display: none;
}
#popup_menu_text
{
 visibility: hidden;
}


/* Popup format : list */

#popup_contentDiv.format_list div.popup_desc
{
 display: none;
}
#popup_contentDiv.format_list .popup_list
{
 max-height: 225px;
 height: 225px;
}
#popup_menu_list
{
 visibility: hidden;
}
