.tooltip_tooltip {
    background-color: white;
    color: black;
    padding: 2px;
    opacity:0.8;
    filter:alpha(opacity=80);
}


/* osm attribution is too high
   reste value from web/static/js/carto/cgxp/core/src/theme/all.css */
.olControlAttribution {
    bottom: .5em;
}
