@import "blob";

// ext-all.css does some kind of reset that conflicts
// with us
// FIXME: more missing?
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
textarea {
  resize: vertical;
}

.tooltip_tooltip {
  background-color: white;
  color: black;
  padding: 2px;
  @include opacity(.8);
}

// max width
#center {
  margin: auto;
  max-width: 2500px;
  position: relative;
}

// c2c layers icons
.x-tree-node-el .x-tree-node-icon {
  height: 16px;
  width: 16px;
  padding: 0 2px;
}

// osm attribution is too high on the map
// restore value from web/static/js/carto/cgxp/core/src/theme/all.css
.olControlAttribution {
  bottom: .5em;
}

// google logo conflicts with the scaleline
// we move it up a bit
img[src*='google_white'] {
  top: -20px !important
}

// we don't want the bad-looking black background for the scaleline
div.olControlScaleLine {
  background-color: transparent;
  padding-left: 2px;
  padding-bottom: 2px;
}

div.olControlScaleLineTop {
  background-color: rgba(0,0,0,.2);
}

// layer switcher has disgracious white background
.opacityToolbar {
  border: none !important;
  background-color: transparent;
}
.x-toolbar.opacityToolbar {
  background-image: none;
}

// compensate rounded inputs for maps
input[type=text].x-form-field {
  @include border-radius(0);
}

#map_container p.default_text
{
  padding-top: 0.7em;
}

// fullscreen icon
.x-toolbar .fullscreen {
  background-image: -c2c-datauri('/static/images/picto/maximize.png');
}

// pictos for layertree that are not indcluded in base css
// note that !important is only needed for the treelayer from maps (css specificty)
// TODO maybe we can do something better...
$pictos: pass, lake, crag, parking_green, gite, camp;
@each $picto in $pictos {
  .picto_#{$picto} {
    @include -c2c-datauri-background('/static/images/picto/#{$picto}.png', no-repeat 0 !important);
  }
}
.picto_blank {
  @include -c2c-datauri-background('/static/js/carto/cgxp/ext/Ext/resources/images/default/s.gif', no-repeat 0 !important);
}

// x-tree-node background correction
.x-tree-node .x-tree-selected {
  background-color: transparent;
}

.x-tree-node .x-tree-node-over {
  background-color: #eee;
  input[type=checkbox] {
    margin-top: none;
  }
}

// Heareafter we include some picto as datauri, so that the borwser doesn't download them
// (seems to work at least in FF and Chrome)
// Also, this overrides wrong relatve paths from sass-built map css file

.x-tree-node-expanded .x-tree-node-icon { // expanded folder in layer tree
  background-image: -c2c-datauri('/static/js/carto/cgxp/ext/Ext/resources/images/default/tree/folder-open.gif');
}

.x-tree-node-collapsed .x-tree-node-icon { // collapsed folder in layer tree
  background-image: -c2c-datauri('/static/js/carto/cgxp/ext/Ext/resources/images/default/tree/folder.gif');
}
.x-tree-arrows { // arrows in layer tree
  .x-tree-elbow-end-minus, .x-tree-elbow-end-plus,
  .x-tree-elbow-minus, .x-tree-elbow-plus {
    background-image: -c2c-datauri('/static/js/carto/cgxp/ext/Ext/resources/images/gray/tree/arrows.gif'); 
  }
}
.x-form-field-wrap .x-form-trigger { // layer switcher
  background-image: -c2c-datauri('/static/js/carto/cgxp/ext/Ext/resources/images/gray/form/trigger.gif');
}
.x-toolbar { // Toolbar icons
  .gxp-icon-zoom-in {
    background-image: -c2c-datauri('/static/js/carto/cgxp/gxp/src/theme/img/silk/magnifier_zoom_in.png');
  }
  .gxp-icon-zoom-out {
    background-image: -c2c-datauri('/static/js/carto/cgxp/gxp/src/theme/img/silk/magnifier_zoom_out.png');
  }
  .gxp-icon-zoom-previous {
    background-image: -c2c-datauri('/static/js/carto/cgxp/gxp/src/theme/img/silk/arrow_left.png');
  }
  .gxp-icon-zoom-next {
    background-image: -c2c-datauri('/static/js/carto/cgxp/gxp/src/theme/img/silk/arrow_right.png');
  }
  .help {
    background-image: -c2c-datauri('/static/js/carto/cgxp/core/src/theme/img/help.png');
  }
}
.x-btn, .x-menu-item { // measure tool
  .cgxp-icon-measure-length {
    background-image: -c2c-datauri('/static/js/carto/cgxp/core/src/theme/img/ruler.png');
  }
  .cgxp-icon-measure-point {
    background-image: -c2c-datauri('/static/js/carto/cgxp/core/src/theme/img/bullet_orange.png');
  }
  .cgxp-icon-measure-area {
    background-image: -c2c-datauri('/static/js/carto/cgxp/core/src/theme/img/ruler_square.png');
  }
  .cgxp-icon-measure-azimuth {
    background-image: -c2c-datauri('/static/js/carto/cgxp/core/src/theme/img/ruler_triangle.png');
  }
}

// quick tips
.x-tip {
  .x-tip-tc, .x-tip-tl, .x-tip-tr, .x-tip-bc, .x-tip-bl, .x-tip-br, .x-tip-ml, .x-tip-mr {
    background-image: -c2c-datauri('/static/js/carto/cgxp/ext/Ext/resources/images/gray/qtip/tip-sprite.gif');
  }
}
.x-tip-anchor {
  background-image: -c2c-datauri('/static/js/carto/cgxp/ext/Ext/resources/images/gray/qtip/tip-anchor-sprite.gif');
}

//
.x-toolbar {
  background-image: -c2c-datauri('/static/js/carto/cgxp/ext/Ext/resources/images/gray/toolbar/bg.gif');
}
.x-window-tr, .x-window-br {
  background-image: -c2c-datauri('/static/js/carto/cgxp/ext/Ext/resources/images/gray/window/right-corners.png');
}
.x-window-tl, .x-window-bl {
  background-image: -c2c-datauri('/static/js/carto/cgxp/ext/Ext/resources/images/gray/window/left-corners.png');
}
.x-window-ml, .x-window-mr {
  background-image: -c2c-datauri('/static/js/carto/cgxp/ext/Ext/resources/images/gray/window/left-right.png');
}
.x-window-tc, .x-window-bc {
  background-image: -c2c-datauri('/static/js/carto/cgxp/ext/Ext/resources/images/gray/window/top-bottom.png');
}
.x-toolbar .x-btn-mc em.x-btn-split {
  background-image: -c2c-datauri('/static/js/carto/cgxp/ext/Ext/resources/images/default/button/s-arrow-noline.gif');
}

.x-toolbar {
  .x-btn-over, .x-btn-click, .x-btn-menu-active, .x-btn-pressed {
    .x-btn-mc em.x-btn-split {
      background-image: -c2c-datauri('/static/js/carto/cgxp/ext/Ext/resources/images/gray/button/s-arrow-o.gif');
    }
  }
}

// resizing the c2c layers popup
.x-resizable-over, .x-resizable-pinned {
  .x-resizable-handle-south, .x-resizable-handle-north {
    background-image: -c2c-datauri('/static/js/carto/cgxp/ext/Ext/resources/images/gray/sizer/s-handle.gif');
  }
  .x-resizable-handle-east, .x-resizable-handle-west {
    background-image: -c2c-datauri('/static/js/carto/cgxp/ext/Ext/resources/images/gray/sizer/e-handle.gif');
  }
  .x-resizable-handle-northeast {
    background-image: -c2c-datauri('/static/js/carto/cgxp/ext/Ext/resources/images/gray/sizer/ne-handle.gif');
  }
  .x-resizable-handle-northwest {
    background-image: -c2c-datauri('/static/js/carto/cgxp/ext/Ext/resources/images/gray/sizer/nw-handle.gif');
  }
  .x-resizable-handle-southeast {
    background-image: -c2c-datauri('/static/js/carto/cgxp/ext/Ext/resources/images/gray/sizer/se-handle.gif');
  }
  .x-resizable-handle-southwest {
    background-image: -c2c-datauri('/static/js/carto/cgxp/ext/Ext/resources/images/gray/sizer/sw-handle.gif');
  }
}

.x-shadow {
  .xsml, .xsmr {
    background-image: -c2c-datauri('/static/js/carto/cgxp/ext/Ext/resources/images/default/shadow-lr.png');
  }
  .xsmc {
    background-image: -c2c-datauri('/static/js/carto/cgxp/ext/Ext/resources/images/default/shadow-c.png');
  }
  .xstl, .xstc, .xstr, .xsbl, .xsbc, .xsbr {
    background-image: -c2c-datauri('/static/js/carto/cgxp/ext/Ext/resources/images/default/shadow.png');
  }
}

.x-menu {
  background-image: -c2c-datauri('/static/js/carto/cgxp/ext/Ext/resources/images/default/menu/menu.gif');
}

.x-menu-item-active {
  background-image: -c2c-datauri('/static/js/carto/cgxp/ext/Ext/resources/images/default/menu/item-over.gif');
}

.x-menu-item-checked .x-menu-group-item .x-menu-item-icon {
  background-image: -c2c-datauri('/static/js/carto/cgxp/ext/Ext/resources/images/default/menu/group-checked.gif');
}

.x-form-text, textarea.x-form-field {
  background-image: -c2c-datauri('/static/js/carto/cgxp/ext/Ext/resources/images/default/form/text-bg.gif');
}

.x-btn-tl, .x-btn-tr, .x-btn-tc, .x-btn-ml, .x-btn-mr, .x-btn-mc, .x-btn-bl, .x-btn-br, .x-btn-bc {
  background-image: -c2c-datauri('/static/js/carto/cgxp/ext/Ext/resources/images/gray/button/btn.gif');
}

.x-tree-node-leaf .x-tree-node-icon {
  background-image: -c2c-datauri('/static/js/carto/cgxp/ext/Ext/resources/images/default/tree/leaf.gif');
}

.gx-popup-anc {
  background-image: -c2c-datauri('/static/js/carto/cgxp/geoext/resources/images/gray/anchor.png');
  &.top {
    background-image: -c2c-datauri('/static/js/carto/cgxp/geoext/resources/images/gray/anchor-top.png');
  }
}

// TODO this is a whole sprite, we probably only need a small part of it, so that some optimization is possible
.x-date-mp-ybtn a, .x-tool, .olControlPanPanel div, .olControlZoomPanel div {
  background-image: -c2c-datauri('/static/js/carto/cgxp/ext/Ext/resources/images/gray/panel/tool-sprites.gif');
}

// loading spinner for geonames autocomplete
.loading-indicator {
  background-image: -c2c-datauri('/static/js/carto/cgxp/ext/Ext/resources/images/default/grid/loading.gif');
}

// defined in web/static/sass/carto/_cgxp-all.scss this rule sets a
// background image for loading class, but is far too generic!
.loading {
  background-image: none;
}
