.share_bookmark
{
  background-image: -c2c-datauri('/static/images/sharebookmark.png');
  width: 125px;
  height: 16px;
  display: -moz-inline-box;
  display: inline-block;
  vertical-align: middle;
}

.share_bookmark.de
{
  background-position: 0 0;
}

.share_bookmark.en
{
  background-position: 0 -16px;
}

.share_bookmark.it
{
  background-position: 0 -32px;
}

.share_bookmark.es, .share_bookmark.ca
{
  background-position: 0 -48px;
}

.share_bookmark.fr
{
  background-position: 0 -64px;
}

.share_bookmark.eu
{
  background-position: 0 -80px;
}

/* small adjustment for addthis search input */
#at16psf input
{
  height: auto;
  border: 0;
  @include box-shadow(none);
}
