.auto_complete
{
  width: 350px;
  background:#FFFFFF none repeat scroll 0 0;
  border:1px solid #BBBBBB;
  z-index:10002;
}

#associated_docs_section_container div.auto_complete
{
/*  width: auto; */
  max-height:250px;
  overflow-x: hidden;
  overflow-y: auto;
}

.auto_complete ul
{
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.auto_complete ul li
{
  margin: 0;
  padding: 3px;
  border-bottom: 1px solid #eee;
  list-style-type: none;
}

.auto_complete ul li.selected
{
  background-color: #ffb;
}

.auto_complete ul strong.highlight
{
  margin: 0;
  padding: 0;
  color: #800;
}

// autocomplete suggestions
.autocomplete-suggestions {
  font-size: 80%;
}
