/* c2c buttons
 * Because having cross browser consistent UI
 * for form elements is a fucking mess
 */

/* common for topoguide specific buttons and forum */
input[type=submit], input[type=reset], input[type=button], button, .c2cui_btn {
  margin: 0 0.5em 0 0;
  @include border-radius(4px);
  border: 1px solid #c0c0c0;
  border-bottom-color: #939393;
  border-right-color: #939393;
  background: #f4f4f4; /* old browsers */
  @include background(linear-gradient(top, #f9f9f9 0%,#e3e3e3 100%));
  @include text-shadow(0 1px 0 white);
  cursor: pointer;
  @include transition(0.1s linear all);

  &:hover {
    border-color: #777;
    @include box-shadow(0 1px 2px #ccc);
  }

  &:active {
    border-color: #000;
    @include background-image(linear-gradient(top, #e3e3e3, #f9f9f9 100%));
  }

  // disbabled
  &:disabled + .c2cui_btno {
    color: gray;
  }

}

// "standalone" buttons, add some padding. c2c buttons inputs have class .c2cui_btnr
input[type=submit], input[type=reset], input[type=button], button {
  padding: 4px;
}

.c2cui_btn {
  height: 1.8em;
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.c2cui_btn.main_button {
  font-weight: bold;
}

.c2cui_btno {
  display: block;
  height: 100%;
  margin-right: 4px;
  margin-left: 4px;
}

.c2cui_btnin {
  display: inline-block;
  height: 1.8em;
  line-height: 1.8em;
}

.c2cui_btnr {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 !important;
  height: 100% !important;
  width: 100%;
  @include opacity(0);
}

.c2cui_picto {
  padding-left : 20px;
}

/* we use 2em for button size, but some need to be aligned with form inputs which are 1.8 for better visual effect */
.c2cui_btn.samesize {
  height: 1.5em;
  padding: 1px;
}
.c2cui_btn.samesize .c2cui_btnin {
  height: 1.5em;
  line-height: 1.5em;
}

/* disabled buttons */
/*input[type=submit], input[type=reset], input[type=button] {
  &:disabled + .c2cui_btno {
    color: gray;
  }
}*/
