#google_search_input {
  background: no-repeat scroll left center #fff;

  &[data-lang='fr'] {
    background-image: url(//www.google.com/coop/intl/fr/images/google_custom_search_watermark.gif);
  }
  &[data-lang='it'] {
    background-image: url(//www.google.com/coop/intl/it/images/google_custom_search_watermark.gif);
  }
  &[data-lang='de'] {
    background-image: url(//www.google.com/coop/intl/de/images/google_custom_search_watermark.gif);
  }
  &[data-lang='en'] {
    background-image: url(//www.google.com/coop/intl/en/images/google_custom_search_watermark.gif);
  }
  &[data-lang='es'] {
    background-image: url(//www.google.com/coop/intl/es/images/google_custom_search_watermark.gif);
  }
  &[data-lang='ca'] {
    background-image: url(//www.google.com/coop/intl/ca/images/google_custom_search_watermark.gif);
  }
  &[data-lang='eu'] {
    background-image: url(//www.google.com/coop/intl/eu/images/google_custom_search_watermark.gif);
  }
  &.no-logo {
    background-image: none;
  }
}
