@import "tooltips";

// plupload specific styles

$image-max-size: 250px;
$image-title-size: 40px;

// drag&drop overlay
#global-drop-overlay {
  background: none repeat scroll 0 0 black;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  @include opacity(0);
  @include transition(all .4s linear);
  z-index: -1000;
  display: table;

  &.active {
    @include opacity(.6);
    z-index: 100001;
  }

  span {
    display: table-cell;
    vertical-align: middle;
    color: white;
    font-weight: 700;
    font-size: 64px;
  }
}

// readme
.plupload-tips {
  position: relative;
}

.plupload-indication {
  display: none;
  width: 100%;
  height: 100%;
  text-align: center;

  & > div {
    display: table-cell;
    vertical-align: middle
  }
}
#files_to_upload.empty .plupload-indication {
  display: table;
}

// main div
#plupload-container #files_to_upload {
  height: 100%;
} // TODO check



// control buttons
.plupload-control {
  margin-top: 8px;

  .tooltip {
    right: 0;
    bottom: 0;
  }
}

.plupload-submit {
  font-weight: bold;
}

.plupload-submit, .plupload-cancel {
  float: right;
}

.plupload-close {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 2px;
  line-height: 20px;
  font-size: 20px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  @include opacity(.6);

  &:hover {
    @include opacity(1);
  }

  &, &:hover {
    background: none;
    @include box-shadow(none);
  }
}

// loading
.plupload-loading, .plupload-error {
  height: $image-max-size + $image-title-size + 1;
  line-height: $image-max-size + $image-title-size + 1;
  text-align: center;

  & > div {
    display: inline-block;
    width: 100%;
    line-height: normal;
  }

  .plupload-close {
    position: relative;
    top: -$image-max-size - $image-title-size - 1;
    float: right;
  }
}

.plupload-progress-bar {
  width: 200px;
  height: 7px;
  border: 1px solid #ccc;
  padding: 0;
  margin: 0;
  margin-right: 5px;
  position: relative;
  display: inline-block;
}

.plupload-progress {
  background-color: #f93;
  height: 100%;
  width: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.plupload-error .global_form_error {
  @include box-sizing(border-box);
  width: 100% !important;
}

// image entry
.plupload-entry {
  display: none; // will be set as inline-block by mixitup
  width: $image-max-size;
  height: $image-max-size + $image-title-size + 1;
  margin: 4px;
  overflow: hidden;
  background-color: #f5f5f5;
  border: 1px solid #d0d0d0;
  @include border-radius(4px);
}

.plupload-image-container {
  width: 100%;
  height: $image-max-size;
  position: relative;
  text-align: center;
  line-height: $image-max-size - 2;
  background-color: #f5f5f5;
}

.plupload-image-overlay {
  width: 100%;
  height: $image-max-size;
  position: absolute;
  top: 0;
}

.plupload-image-title {
  height: $image-title-size;
  line-height: $image-title-size - 1;
  border-top: 1px solid #d0d0d0;
  background-color: white;

  input {
    width: 100%;
    height: $image-title-size;
    @include box-sizing(border-box);
    padding: 0 8px;
    background: none;
    border: none;
    outline: none;

    &:focus {
      @include box-shadow(none);
    }
  }
}

.plupload-entry.invalid {
  &, .plupload-image-title {
    border-color : red;
  }

  .plupload-image-title input {
    color: red;
    &::-moz-placeholder {
      color: red;
    }
    &::-webkit-input-placeholder {
      color: red;
    }
    &:-ms-input-placeholder {
      color: red;
    }
  }
}
