@import "blob";

#page_header {
  width: 838px;
  margin: 0px auto;
  height: 185px;
  margin-bottom: 10px;
}

#top {
  height: 15px;
  width: 838px;
  margin: 5px auto;
}

#topright {
  float: right;
}

#menu {
  width: 838px;
  height: 30px;
  margin: 10px auto;
}

#menu ul {
  padding: 0px;
  margin: 0px auto;
  list-style-type: none;
  width: 838px;
}

#menu ul li {
  display: block;
  float: left;
  width: 165px;
  line-height: 30px;
  background: transparent;
  font-size: 14px;
  font-weight: bold;
  color: #585C5B;
  text-align: center;
}

#menu ul li a {
  color: #4D4D4D;
  text-decoration: none;
}

#menu ul li a:hover, #menu ul li.active a {
  color: #EE8102;
}

#container {
  width: 838px;
  margin: 0px auto;
  clear: both;
}

#partenaires {
  background-image: url(c2chash("/static/images/cda/partenaires.jpg"));
  padding-top: 0px;
  height: 136px;
  width: 331px;
}

#page_footer {
  width: 838px;
  margin: 0px auto;
}

#partenairesbas {
  height: 50px;
  width: 838px;
}

#partenairesbas ul {
  list-style-type: none;
  width: 838px;
}

#partenairesbas ul li {
  display: block;
  float: left;
  width: 104px;
  text-align: center;
}

#partenairesbas ul li img {
  padding: 10px 0px;
}

a {
  text-decoration: none;
}

.column {
  float: left;
  margin-right: 17px;
}

.column h2 {
  background-color: #ED7E02;
  font-size: 12px;
  color: white;
  padding: 5px 0px 5px 0px;
  text-align: center;
  margin-bottom: 10px;
}

.row1 {
  height: 389px;
  margin-bottom: 5px;
}

.row2 {
  height: 170px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.span-5 {
  width: 153px;
}

.span-6 {
  width: 400px;
  height: 394px;
  margin-bottom: 0px;
  margin-top: 10px;
  margin-right: 38px;
  margin-left: 0px;
}
.span-6.folded
{
  height: 45px;
  margin-bottom: 20px;
}

.span-9 {
  width: 328px;
}

.span-15 {
  width: 493px;
}

.span-24 {
  width: 838px;
  margin: 20px 0 0 0;
  border-top: 2px solid #CCCCCC;
}

.image2 {
  margin-top: -44px;
  padding-top: 14px;
}

.content {
  background-color: #3D4B4C;
  color: white;
  height: 355px;
  padding: 0 10px;
  text-align: justify;
}

.content p {
  padding: 15px 5px 15px 5px;
  line-height: 1.5em;
}

.last {
  margin-right: 0px;
  margin-left: 0px;
}

.credentials {
  font-size: 9px;
  text-align: center;
  color: #505050;
  padding-bottom: 5px;
}

.img_title, .img_title:hover {
  position:relative;
  bottom: 45px;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 45px;
  text-align: center;
  line-height: 45px;
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: bold;
  overflow: hidden;
}

.nobg, .nobg:hover {
  background: none;
}

h2
{
  margin-bottom: 1em;
}

#filterform 
{
  font-size: 14px;
}

#filterform .col_left, #filterform .col_right
{
  min-width: 0;
}

#filterform label
{
  margin-right: 1.2em;
}

#filterform select, #filterform input
{
  font-size: 14px;
}

#filterform #fs_area select
{
  font-size: 12px;
}

#filterform  a
{
  text-decoration: underline;
}

#filterform input[type="image"]
{
  padding: 0;
  margin: 20px 40px 20px 180px;
  border: none;
}

#filterform .main_button
{
  margin: 30px 20px 40px 0;
}
