@import 'font-awesome-4.4.0/font-awesome.scss';

#header {
  position: relative;
}


#donate {

  background-color: red;
  
#barre_horizontale {
    width: 100%;
    height:30px;
    background:black;
    margin-top:-8px;
    /*border-bottom: 10px solid #2e1b27;*/
}

#barre {
    width: 100%;
    height:430px;
    background:#BFD626;
    padding:8px 0;
    font-family:  "Trebuchet MS";
/*    text-align: center;*/
    font-size:16px;
    line-height: 14pt;
    /*margin-top:-50px;*/
    /*border-bottom: 10px solid #2e1b27;*/
}

#barre_celine_stern {
    position: fixed; /* afin de le garder à l'écran tout le temps  */
    z-index: 9999; /* pour que le bandeau soit toujours au dessus des autres elements  */
    height:400px;
    background:#FFCC00; /* #BFD626*/
    padding:8px 0;
    font-family:  "Trebuchet MS";
    font-size:16px;
    line-height: 14pt;
}

#barre_charlotte_soty {
    position: fixed; /* afin de le garder à l'écran tout le temps  */
    z-index: 9999; /* pour que le bandeau soit toujours au dessus des autres elements  */
    width: 100%;
    height:400px;
    background:#FFCC00;
    padding:8px 0;
    font-family:  "Trebuchet MS";
    font-size:16px;
    line-height: 14pt;
}

#barre_david_jonglez {
    position: fixed; /* afin de le garder à l'écran tout le temps  */
    z-index: 9999; /* pour que le bandeau soit toujours au dessus des autres elements  */
    width: 100%;
    height:420px;
    background:#FFCC00;
    padding:8px 0;
    font-family:  "Trebuchet MS";
    font-size:16px;
    line-height: 14pt;
}

#barre_patrick_gabarrou {
    position: fixed; /* afin de le garder à l'écran tout le temps  */
    z-index: 9999; /* pour que le bandeau soit toujours au dessus des autres elements  */
    width: 100%;
    height:450px;
    background:#FFCC00;
    padding:8px 0;
    font-family:  "Trebuchet MS";
    font-size:16px;
    line-height: 14pt;
}

#barre_liv_sansoz {
    position: fixed; /* afin de le garder à l'écran tout le temps  */
    z-index: 9999; /* pour que le bandeau soit toujours au dessus des autres elements  */
    width: 100%;
    height:430px;
    background:#FFCC00;
    padding:8px 0;
    font-family:  "Trebuchet MS";
    font-size:16px;
    line-height: 14pt;
}

#barre_fredi_meignan {
    position: fixed; /* afin de le garder à l'écran tout le temps  */
    z-index: 9999; /* pour que le bandeau soit toujours au dessus des autres elements  */
    width: 100%;
    height:480px;
    background:#FFCC00;
    padding:8px 0;
    font-family:  "Trebuchet MS";
    font-size:16px;
    line-height: 14pt;
}

#barre_patrick_vuilleumier {
    position: fixed; /* afin de le garder à l'écran tout le temps  */
    z-index: 9999; /* pour que le bandeau soit toujours au dessus des autres elements  */
    width: 100%;
    height:350px;
    background:#FFCC00;
    padding:8px 0;
    font-family:  "Trebuchet MS";
    font-size:16px;
    line-height: 14pt;
}

#barre_hugues_jaillet {
    position: fixed; /* afin de le garder à l'écran tout le temps  */
    z-index: 9999; /* pour que le bandeau soit toujours au dessus des autres elements  */
    width: 100%;
    height:400px;
    background:#FFCC00;
    padding:8px 0;
    font-family:  "Trebuchet MS";
    font-size:16px;
    line-height: 14pt;
}

#barre_dani_bach {
    position: fixed; /* afin de le garder à l'écran tout le temps  */
    z-index: 9999; /* pour que le bandeau soit toujours au dessus des autres elements  */
    width: 100%;
    height:400px;
    background:#FFCC00;
    padding:8px 0;
    font-family:  "Trebuchet MS";
    font-size:16px;
    line-height: 14pt;
}
 
#fermer {
 display:block;
 float:left;
/* margin-top:5px;*/
 margin-left:200px;
 cursor: pointer;
 line-height:20px; /*hauteur de l'image de fond*/
 background-color:white;
 color:black; /*#DCDCDC;*/
 text-decoration:none;
 text-align:center;
 border:1px solid #9FC6FF;


}
#rappeler {
 display:block;
 float:left;
/* margin-top:5px;*/
 margin-left:200px;
 cursor: pointer;
 line-height:20px; /*hauteur de l'image de fond*/
 background-color:white;
 color:black; /*#DCDCDC;*/
 text-decoration:none;
 text-align:center;
 border:1px solid #9FC6FF;
}


#annonce {
margin-top:5px;
align:justified;
}

#temoignage {
float:left;
width:70%;
margin-top:20px;
/*height:80px;*/
margin-left:60px;
margin-top:80px;
background-color:#FF9933;/*#FFCC00*/
border:1px solid #9FC6FF;
padding:5px;
text-align:center;
font-family:  "Trebuchet MS";
font-size:16px;
/*arrondir le coin en bas à droite*/
-moz-border-radius:10px 10px 10px 10px;
-webkit-border-radius:10px 10px 10px 10px;
border-radius:10px 10px 10px 10px;
}

#temoignage_figure {
clear:both;
float:left;
width:200px;
margin-left:20px;
margin-top:-40px;
/*height:250px;*/
font-family:  "Trebuchet MS";
font-size:12px;
/*background-color:#FFCC00;*/
/*border:1px solid #9FC6FF;*/
padding:5px;
/*arrondir le coin en bas à gauche*/
-moz-border-radius:0 0 0 10px;
-webkit-border-radius:0 0 0 10px;
border-radius:0 0 0 10px;
}

#paiment {
/*float:left;*/
width:20%;
margin-left:20px;
/*margin-top:40px;*/
/*height:250px;*/
font-family:  "Trebuchet MS";
font-size:16px;
background-color:#FFCC00;
border:1px solid #9FC6FF;
padding:5px;
/*arrondir le coin en bas à gauche*/
-moz-border-radius:10px 10px 10px 10px;
-webkit-border-radius:10px 10px 10px 10px;
border-radius:10px 10px 10px 10px;
}


ul {
 padding:0;
 margin-left:400px;
 list-style-type:none;
 }
li {
 margin-left:20px;
 margin-top:20px;
 float:left; /*pour IE*/
 }
ul li a {
 display:block;
 float:left;   
/* width:70px;*/
 line-height:40px; /*hauteur de l'image de fond*/
background-color:white;
/*background-image:url(bouton.png);*/
/*background: url(bouton.png) repeat-x;*/
 color:black; /*#DCDCDC;*/
 text-decoration:none;
 text-align:center;
 border:1px solid #9FC6FF;
 }

ul_barre {
 padding:0;
 margin-left:100px;
 list-style-type:none;
 }
li_barre {
 margin-left:20px;
 margin-top:5px;
 float:left; /*pour IE*/
 }
ul_barre li_barre a {
 display:block;
 float:left;   
/* width:70px;*/
/* line-height:20px;*/ /*hauteur de l'image de fond*/
background-color:white;
/*background-image:url(bouton.png);*/
/*background: url(bouton.png) repeat-x;*/
 color:black; /*#DCDCDC;*/
 text-decoration:none;
 text-align:center;
 border:1px solid #9FC6FF;
 }

#fermer_old {
    background: url(fermer-croix-supprimer-erreurs-sortie-icone-4368-16.png);
    width: 18px;
    height:18px;
    display: block;
    cursor: pointer;
    float:right;
    margin-right:30px;
}

}

@media(min-width: 768px) {
 .donate-left, .donate-right {
   float: left;
    width: 41.666%;
  }
}

.donate-left, .donate-right {
   position: relative;
   padding-left: 15px;
   padding-right: 15px;
}

.donate-submit {
  display: block;
  margin-top: 4px;
  margin-bottom: 4px;
}

