@import 'font-awesome-4.4.0/font-awesome.scss';

#header {
  position: relative;
}


#donate {

  background-color: #ffa146;
  padding: 5px;

  img {
    width: 100px;
    float: left;
    padding: 10px;
  }

  .presentation {
    padding-top: 10px;
  }

  .signature {
    font-style: italic;
  }

  .donate-notnow.cross {
    float: right;
  }

  .donate-quote {
    padding: 5px;
  }

  .donate-quote:after {
    content: "";
    clear: both;
    display: table;
  }

}

@media(min-width: 768px) {
 .donate-left, .donate-right {
   float: left;
    width: 41.666%;
  }
}

.donate-left, .donate-right {
   position: relative;
   padding-left: 15px;
   padding-right: 15px;
}

.donate-submit {
  display: block;
  margin-top: 4px;
  margin-bottom: 4px;
}

