.olControlScaleLineBottom {
  display: none;
}

.olControlScaleLineTop {
  background-color: white;
  filter:alpha(opacity=50);
  -moz-opacity:0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
}

.olControlScaleLine {
  bottom:40px !important;
  left:5px !important;
}

.noIconLayer {
  display: none;
}

.olControlOverviewMapMinimizeButton, .olControlOverviewMapMaximizeButton {
  bottom:0 !important;
  cursor:pointer;
}

.olControlOverviewMapElement {
  -moz-border-radius-topleft:0 !important;
  background-color:#FFFFFF !important;
  border-left:1px solid #D0D0D0;
  border-top:1px solid #D0D0D0;
  padding:5px 0 0 5px !important;
}

.gpControlPermanentLogoActive {
  bottom:5px !important;
  left:45%;
}

.olControlAttribution {
  bottom:5px !important;
  left: 5px;   
}

.gpControlPermanentLogo {
  display: none;
}

.gpControlLogo {
  position:absolute;
  left:0px;
  bottom:0px;
  float:left;
  margin:0px 0px 5px 5px;
}
.gpControlLogo div {
  display:block;
  float:left;
  margin:0px 3px 0px 0px;
  white-space:nowrap;
}

.olLayerGoogleCopyright {
  left: 70px !important;
}
.olLayerGooglePoweredBy {
  bottom: 2px !important;
}
